.reset_password_form.offset1
  %h1 Reset Password
  %ul
    = form_tag password_resets_path, :method => :post do
      %li= label_tag :email
      %li= text_field_tag :email
      %li= submit_tag "Submit"
  
