.hr_report.hr_open
  .row
    .span1
      .hr_before_photo
        = image_tag open_report.before_photo
    .span3.hr_address
      #{open_report.complete_address}
    .span4
      .report_content
        = open_report.report
      %a Marcado:
      %a.user
        = link_to open_report.reporter.username + " - " + open_report.strftime_with(:created_at), user_path(open_report.reporter)
  
          
