- content_for :content do
  %section#house_detail
    %h2= @house.name + " @" + @house.neighborhood    
    %figure#house_photo
    %ul#house_stats
      %li 
        Points
        %section#house_stats_box
          = @house.points
      %li 
        Neighborhood
        %section#house_stats_box
          = @house.neighborhood
    %ul#house_members
      - @house.members.each do |member|
        %li
          %figure#house_member_photo
  %section#house_reports
    %h4 Reports section
  %section#house_highlight
    %h4 House Highlight section
  %section#house_posts
    %h4 Posts section
 