.row
  .span15.offset1
    %h1 Códigos de controle dos prêmios
    %p Clique nos links dos prêmios abaixo para ver o código que foi gerado para cada prêmio.
    %br

    %br

.row
  .span6.offset2
    %ul
    - @prizes.sort.each do |prize|
      %li= link_to prize.prize_name