.row
  .span15.offset1
    %h1
      Prize codes for
      = @prize.prize_name
    %p Listed below are the prize codes that have not expired/been redeemed yet. If you wish to set a prize code as redeemed, please click on the link next to each prize code to render the code as inactive.
    %br
    %br

.row
  .span14.offset2
    %table
      %th Code
      %th User Name
      %th Set Code as Redeemed
      - @prize_codes.each do |prize_code|
        - unless prize_code.expired or prize_code.redeemed
          %tr
            %td
              = prize_code.code
            %td
              = link_to prize_code.user.username, user_path(prize_code.user_id)
            %td
              = link_to "Set as Redeemed", :controller => "prize_codes", :action => "redeem", :id => params[:id], :prize_id => params[:prize_id], :prize_code_id => prize_code.id


