.row
  .span15.offset1
    %h1 Códigos de controle dos prêmios
    %p Clique nos links dos prêmios abaixo para ver o código que foi gerado para cada prêmio.
    %br

    %br

.row
  .span12.offset2
    %ul
    - @prizes.sort.each do |prize|
      %h2 #{prize.prize_name}
      %table{:cellpadding => 20}
        - prize.prize_codes.each do |cupon|
          %tr
            %td
              %input{type: "checkbox"}
            %td= cupon.code
            %td= cupon.user.display_name
            %td= cupon.user.phone_number