#user_activity_list.span11
  .user_activity_item
    .row
      .user_activity_thumb.span2
        = image_tag('http://placehold.it/80x80')

      .span7
        .row
          .user_activity_headline.span2
            %h4 post.title
        
          .span5
            .row
              // removed
          
        .row
          .user_activity_content.span7
            post.content
      .user_activity_options.span2
        post.strftime_update_at
        .user_activity_icons
          =link_to (image_tag 'icons/reports icon/emptystar.png', :id=>'user_report_favorite'), '#'
          -if @isPrivatePage
            =link_to (image_tag 'icons/reports icon/delete2.png', :id=>'user_report_delete'), '#'