%ul#house_list
  - @houses.each do |house|
    %li
      #house_photo_thumb
        - if house.profile_photo_file_name.nil?
          = link_to image_tag("default_images/house_default_image.png"), house_path(house)
        - else 
          = link_to image_tag(house.profile_photo.url(:medium)), house_path(house)
      = link_to house.name, house_path(house)
  
  - if @houses.count < 14
    - (14 - @houses.count).times do
      %li
        #house_photo_thumb
          = image_tag("default_images/house_default_image.png")
        Future House
      
    
      
