#home_visit_neighborhood_button.span5
  = render "home/visit_neighborhood_button"
.span3
  %b= @total_reports_in_neighborhood
  %br Total de focos marcados
.span3
  .row
    #neighborhood_open_report_button.span1 
    .span2
      %b= @opened_reports_in_neighborhood
      %br em aberto
.span2
  .row
    #neighborhood_resolved_report_button.span1 
    .span1
      %b= @eliminated_reports_in_neighborhood
      %br eliminados