- if not @current_user.nil?
  #orange_border 
    %a{:href=>'javascript:;', :data=>{:parent=>'#orange_toggle', :toggle=>"collapse", :target=>"#orange_toggle"}, :id => 'orange_pull_down'}
      &nbsp;&nbsp;&nbsp;+
  #orange_toggle.collapse
    #orange_slider    
      .row
        #top.row
          #orange_bg_graphic
            .offset5
              = link_to image_tag('translated/videoplayer_button.png', :id => 'play_button'), "http://www.riocontradengue.com.br/Site/Conteudo/Focos.aspx", :target => "_blank"
          -# #video.span11.offset1 %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "220", :width => "300", :src => "http://www.youtube.com/embed/VR3AM4BHSnw", :title => "Dengue Fever"}
          .span4.offset8
            %h2            
              Use o seu celular para eliminar mosquitos – participe do Dengue Torpedo e ganhe prêmios!
          .span4            
            #news_pane
              -#Notícias
              
          .row
            #orange_pull_up.span1
              %a{:href=>'javascript:;', :data=>{:parent=>'#orange_toggle', :toggle=>"collapse", :target=>"#orange_toggle"}}
                Ocultar
- else
  #orange_slider    
    .row
      #top.row
        #orange_bg_graphic
          .offset5
            = link_to image_tag('translated/videoplayer_button.png', :id => 'play_button'), "http://www.riocontradengue.com.br/Site/Conteudo/Focos.aspx", :target => "_blank"
        -# #video.span11.offset1 %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "220", :width => "300", :src => "http://www.youtube.com/embed/VR3AM4BHSnw", :title => "Dengue Fever"}
        .span4.offset8
          %h2
            Use o seu celular para eliminar mosquitos – participe do Dengue Torpedo e ganhe prêmios!
                
        .span4
          #register_pane
            = render "home/register_form"
