- if @selected_neighborhood.id.nil?
  =link_to "Vá para a futuro participante ", root_path, {style: 'font-size: 16px;'}
- else
  =link_to "Vá para a #{@selected_neighborhood.name}", neighborhood_path(@selected_neighborhood) 
