.row
  .span15.offset1
    %h1 Social Apps Lab at CITRIS, University of California, Berkeley
    %h2 Co-Directors:  James Holston and Greg Niemeyer
    %br

    %h2 Dengue Torpedo
    %h3 Fundador e Diretor do Projeto: Professor James Holston
    %h3 Co-colaboradores: Professora Eva Harris, Dra. Josefina Coloma

    %br
    %h3 Estudantes Pesquisadores:
    %h3 Engenharia: Hara Kang (líder da equipe), Jacky (Chen-Chia) Wu, Hui Peng Hu, Matt Leung, Ian Norris; additional assistance from Greg Dehlmow, Benjamin Le, Claire Tuna
    %h3 Design Gráfico: Winny Huang, Kendall Plant

    %br
    %h2 Social Apps Lab
    %p O Social Apps Lab (Laboratório de Aplicativos Sociais) foi criado na Universidade da Califórnia, Berkeley, em 2010 pelo Professor James Holston (Antropologia) e pelo Professor Greg Niemeyer (Artes Práticas e Estudos de Novas Mídias). O Laboratório foca na criação de aplicativos para celulares e internet que envolvam questões de cidadania urbana e democracia direta. Ele usa as ciências sociais - especificamente o conhecimento antropológico -, aspectos dos jogos e crowdsourcing para identificar problemas sociais que os aplicativos podem se referir de forma produtiva ao inovar os termos de deliberação, argumentação e visualização. Por meio disso, almeja reformular as condições da participação cívica. 
    %br
    %p O Social Apps Lab é interdisciplinar e apoiada pela UC Berkeley pelo CITRIS, sigla em inglês para Centro para Pesquisa de Informação Tecnológica de Interessa da Sociedade (Center for Information Technology Research in the Interest of Society) e pela Divisão de Ciências Sociais. Para mais informações acesse http://socialappslab.com/.

    %br
    %br