.row
  .span15.offset1
    %h1 Social Apps Lab at CITRIS, University of California, Berkeley

    %h2 Co-Directors:  James Holston and Greg Niemeyer
    %br

    %h2 Dengue Torpedo
    %h3 Project Founder and Director:  Professor James Holston
    %h3 Co-collaborators:  Professor Eva Harris, Dr. Josefina Coloma

    %br
    %h3 Student Researchers
    %h3 Engineering: Jacky (Chen-Chia) Wu (lead), Hui Peng Hu, Matt Leung, Ian Norris; additional assistance from Greg Dehlmow, Benjamin Le, Claire Tuna
    %h3 Graphic Design: Winny Huang, Kendall Plant

    %br
    %h2 Social Apps Lab
    %p The Social Apps Lab was created at the University of California, Berkeley, in 2010 by Professor James Holston (Anthropology) and Professor Greg Niemeyer (Art Practice and New Media Studies). The Lab focuses on creating mobile and web applications that engage issues of urban citizenship and direct democracy.  It uses social science – specifically anthropological knowledge – aspects of gameplay, and crowdsourcing to identify social problems that apps can productively address by innovating the terms of deliberation, argumentation, and visualization.  Through these means, it aims to reformulate conditions of civic participation.    

    %br
    %p The Social Apps Lab is interdisciplinary and supported at UC Berkeley by the Center for Information Technology Research in the Interest of Society (CITRIS) and the Division of Social Sciences. For more information, see http://socialappslab.com/.

    %br
    %br