/ .row
/ 	.span12.offset1
/ 		%h1 SAIBA MAIS SOBRE A DENGUE
/ 		%h2 Como eliminar os focos?

/ 		%p Algumas simples ações fazem a diferença na luta contra o mosquito. Por isso, tente colocá-las na sua rotina. Não custa nada e ainda vai ajudar a salvar vidas.

/ 		%p Somente se cada um fizer a sua parte poderemos vencer a batalha contra o Aedes aegypti.

/ 		%br
/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu1.png"
/ 			.edu_explanation
/ 				1 – Coloque areia no prato dos vasos de plantas.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu2.png"
/ 			.edu_explanation
/ 				2 - Mantenha os ralos limpos jogando água sanitária ou desinfetante semanalmente. Verifique a existência de entupimento. Se não for utilizá-los, mantenha-os vedados.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu3.png"
/ 			.edu_explanation
/ 				3 - Jogue no lixo todo objeto que possa acumular água, como embalagens usadas, potes, latas, copos, garrafas vazias etc.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu4.png"
/ 			.edu_explanation
/ 				4 - Mantenha o saco de lixo bem fechado e fora do alcance de animais até o recolhimento pelo serviço de limpeza urbana. Não jogue lixo em terrenos baldios.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu5.png"
/ 			.edu_explanation
/ 				5 - Lave, principalmente por dentro, com escova e sabão os utensílios usados para guardar água em casa, como jarras, garrafas, potes, baldes etc.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu6.png"
/ 			.edu_explanation
/ 				6 - Troque diariamente a água dos bebedouros de animais e aves e limpe-os com escova ou bucha.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu7.png"
/ 			.edu_explanation
/ 				7 - Depressões de terreno também são possíveis poças de água parada. Preencha-os com areia ou pó de pedra.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu8.png"
/ 			.edu_explanation
/ 				8 - Mantenha caixas d’água, cisternas, tonéis e outros depósitos de água sempre bem fechados, com a tampa adequada, para impedir a entrada do mosquito.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu9.png"
/ 			.edu_explanation
/ 				9 - Entregue seus pneus velhos ao serviço de limpeza urbana ou guarde-os sem água em local coberto e abrigados da chuva.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu10.png"
/ 			.edu_explanation
/ 				10 - Guarde as garrafas vazias sempre de cabeça para baixo e de preferência em local coberto.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu11.png"
/ 			.edu_explanation
/ 				11 - Limpe constantemente as calhas, remova tudo que possa impedir a passagem da água, a laje e a piscina de sua casa.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu12.png"
/ 			.edu_explanation
/ 				12 - Instale a caixa do ar-condicionado de forma que esta não possa acumular água.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu13.png"
/ 			.edu_explanation
/ 				13 - No alto de lajes e telhas também pode haver água parada. Caso more em apartamento, peça ao porteiro que verifique o acúmulo de água no terraço.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu14.png"
/ 			.edu_explanation
/ 				14 - Suspeite de garagens e subsolos. Confira se a água da chuva que cai nas calhas circula.

/ 		.edu_box
/ 			.edu_image
/ 				= image_tag "education/edu15.png"
/ 			.edu_explanation
/ 				15 - Evite ter bromélias em casa. Mantendo-as, é indispensável tratá-las com água sanitária na proporção de uma colher de sopa para um litro de água, regando, no mínimo, duas vezes por semana. Tire sempre a água acumulada nas folhas.

/ 		.edu_box{style: "margin-top:20px;"}
/ 			fonte:
/ 			= link_to "http://www.riocontradengue.rj.gov.br/site/Conteudo/Eliminar.aspx", "http://www.riocontradengue.rj.gov.br/site/Conteudo/Eliminar.aspx", class: "users"
/ 			.offset1
/ 				• Como mobilizar a vizinhança para combater os focos do transmissor da dengue?

/ 		.edu_box
/ 			= link_to "http://www.riocontradengue.rj.gov.br/site/Conteudo/Vizinhanca.aspx", "http://www.riocontradengue.rj.gov.br/site/Conteudo/Vizinhanca.aspx", class: "users"
/ 			.offset1
/ 				•	Mitos e erros sobre a dengue.

/ 		.edu_box
/ 			= link_to "http://www.riocontradengue.rj.gov.br/site/Conteudo/Mitos.aspx", "http://www.riocontradengue.rj.gov.br/site/Conteudo/Mitos.aspx", class: "users"
/ 			.offset1
/ 				•	Saiba mais sobre o vetor da Dengue: o mosquito Aedes aegypti

/ 		.edu_box
/ 			= link_to "http://www.ioc.fiocruz.br/dengue/textos/oportunista.html", "http://www.ioc.fiocruz.br/dengue/textos/oportunista.html", class: "users"
/ 			.offset1
/ 				•	Saiba mais sobre a história do mosquito Aedes aegypti

/ 		.edu_box
/ 			= link_to "http://www.ioc.fiocruz.br/dengue/textos/longatraje.html", "http://www.ioc.fiocruz.br/dengue/textos/longatraje.html", class: "users"
/ 			.offset1
/ 				•	Curiosidades sobre o mosquito Aedes aegypti
/ 		.edu_box
/ 			%h2 Qual a origem do mosquito Aedes aegypti?
/ 			%p O A. aegypti é originário do Egito. A dispersão pelo mundo ocorreu da África: primeiro da costa leste do continente para as Américas, depois da costa oeste para a Ásia.
/ 		.edu_box
/ 			%h2 Por que o nome A. aegypti?
/ 			%p O vetor foi descrito cientificamente pela primeira vez em 1762, quando foi denominado Culex aegypti. Culex significa “mosquito” e aegypti, egípcio, portanto: mosquito egípcio. O gênero Aedes só foi descrito em 1818. Logo verificou- se que a espécie aegypti,  descrita anos antes, apresenta características morfológicas e biológicas semelhantes às de espécies do gênero Aedes – e não às do já conhecido gênero Culex. Então, foi estabelecido o nome Aedes aegypti.

/ 		.edu_box
/ 			%h2 Quantas pessoas um mosquito é capaz de infectar?
/ 			%p Os mosquitos fêmea sugam sangue para produzir ovos. Se o mosquito da dengue estiver infectivo, poderá transmitir o vírus da dengue neste processo. Em geral, mosquitos sugam uma só pessoa a cada lote de ovos que produzem. O mosquito da dengue tem uma peculiaridade que se chama “discordância gonotrófica”, que significa que é capaz de picar mais de uma pessoa para um mesmo lote de ovos que produz. Há relato de que um só mosquito da dengue infectivo transmitiu dengue para cinco pessoas de uma mesma família, no mesmo dia.

/ 		.edu_box
/ 			%h2 Por que só a fêmea pica?
/ 			%p A fêmea precisa de sangue para a produção de ovos. Tanto o macho quanto a fêmea se alimentam de substâncias que contêm açúcar (néctar, seiva, entre outros), mas como o macho não produz ovos, não necessita de sangue. Embora possam ocasionalmente se alimentar com sangue antes da cópula, as fêmeas intensificam a voracidade pela hematofagia após a fecundação, quando precisam ingerir sangue para realizar o desenvolvimento completo dos ovos e maturação nos ovários. Normalmente, três dias após a ingestão de sangue as fêmeas já estão aptas para a postura, passando então a procurar local para desovar.

/ 		.edu_box
/ 			%h2 É verdade que o mosquito A. aegypti já foi erradicado e depois reintroduzido no Brasil?
/ 			%p No início do século 20, a identificação do A. aegypti como transmissor da febre amarela urbana impulsionou a execução de rígidas medidas de controle que levaram, em 1955, à erradicação do mosquito no país. Em 1958, o país foi considerado livre do vetor pela Organização Mundial de Saúde (OMS). No entanto, a erradicação não recobriu a totalidade do continente americano e o vetor permaneceu em áreas como Venezuela, sul dos Estados Unidos, Guianas e Suriname, além de toda a extensão insular que engloba Caribe e Cuba.
/ 			%p A hipótese mais provável para explicar a re-introdução do mosquito no Brasil é a chamada dispersão passiva dos vetores, através de deslocamentos humanos marítimos ou terrestres – dinâmica facilitada pela grande resistência do ovo do vetor ao ressecamento. No Brasil, o relaxamento das medidas de controle após a erradicação do A. aegypti permitiu sua reintrodução no país no final da década de 1960. Hoje o mosquito é encontrado em todos os Estados brasileiros.

/ 		.edu_box
/ 			%h2 Como o A. aegypti chegou ao Brasil? Há registro histórico de dengue no passado?
/ 			%p As teorias mais aceitas indicam que o A. aegypti tenha se disseminado da África para o continente americano por embarcações que aportaram no Brasil para o tráfico de escravos. Há registro da ocorrência da doença em Curitiba (PR) no final do século 19 e em Niterói (RJ) no início do século 20.

/ 		.edu_box
/ 			%h2 A dengue ocorre só no Brasil?
/ 			%p Não. Há registro da doença em diversos países das Américas, bem como na África, Ásia, Austrália  e Polinésia Pacífica.

/ 		.edu_box
/ 			%p *Todos os conteúdos foram revisados por pesquisadores do Instituto Oswaldo Cruz (IOC/Fiocruz)


/ 		.edu_box
/ 			Fonte:
/ 			= link_to "http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html", "http://www.ioc.fiocruz.br/dengue/textos/curiosidades.html", class: "users"
/ 			.offset1
/ 			•	Conheça mais sobre os hábitos e ciclo biológico do mosquito transmissor da dengue no vídeo "O mundo macro e micro do mosquito Aedes aegypti" produzido pelo Instituto Oswaldo Cruz.

/ 		.edu_box
/ 			= link_to "http://www.fiocruz.br/ioc/cgi/cgilua.exe/sys/start.htm?sid=260", "http://www.fiocruz.br/ioc/cgi/cgilua.exe/sys/start.htm?sid=260", class: "users"
/ 			.offset1
/ 			•	Aprofunde os seus conhecimentos acessando as 10 vídeo-aulas do ‘Aedes aegypti – Introdução aos Aspectos Científicos do Vetor’  produzido pelo Instituto Oswaldo Cruz (IOC).

/ 		.edu_box
/ 			= link_to "http://auladengue.ioc.fiocruz.br/?page_id=312", "http://auladengue.ioc.fiocruz.br/?page_id=312", class: "users"

/ 		.edu_box
/ 			%p * O conteúdo dessa página foi extraído do hotsite Aedes aegypti: vírus e vetor (
/ 			= link_to "http://www.ioc.fiocruz.br/dengue/index.html", "http://www.ioc.fiocruz.br/dengue/index.html", class: "users"
/ 			) produzido pelo Serviço de Jornalismo e Comunicação do Instituto Oswaldo Cruz (IOC/Fiocruz) e do hotsite Rio Contra a Dengue (
/ 			= link_to "http://www.riocontradengue.rj.gov.br/site/Conteudo/Default.aspx", "http://www.riocontradengue.rj.gov.br/site/Conteudo/Default.aspx", class: "users"
/ 			).
.row
	.span15.offset1
		%h1 Como é o ciclo de vida do mosquito da dengue e quais seus principais criadouros?
		.accordion#accordion1
			.accordion-group
				.accordion-heading{style: "padding:10px;"}
					%a{href: 'javascript:$("#collapse1").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
						Ciclo de vida
				#collapse1.collapse.in.accordion-body
					.accordion-inner{style: "padding: 9px 25px;"}
						%p
							Saiba quais são os fatores que afetam o ciclo de vida do vetor e do que ele se alimenta
						%br
						%p
							Do ovo à forma adulta, o ciclo de vida do A. aegypti varia de acordo com a temperatura, disponibilidade de alimentos e quantidade de larvas existentes no mesmo criadouro, uma vez que a competição de larvas por alimento (em um mesmo criadouro com pouca água) consiste em um obstáculo ao amadurecimento do inseto para a fase adulta. Em condições ambientais favoráveis, após a eclosão do ovo, o desenvolvimento do mosquito até a forma adulta pode levar um período de 10 dias. Por isso, a eliminação de criadouros deve ser realizada pelo menos uma vez por semana: assim, o ciclo de vida do mosquito será interrompido.
						%br
						= image_tag "larvae.png"
						%br
						%p{style: "color: red; font-size:16px;font-weight:bold;"}
							As larvas do A. aegypti têm tamanho reduzido, aproximadamente o de uma cabeça de agulha de costura
						%br
						%p
							Os maiores índices de infestação pelo A. aegypti são registrados em bairros com alta densidade populacional e baixa cobertura vegetal, onde o mosquito encontra alvos para alimentação mais facilmente. Outro fator importante é a falta de infraestrutura de algumas localidades. Sem fornecimento regular de água, os moradores precisam armazenar o suprimento em grandes recipientes, que na maioria das vezes não recebem os cuidados necessários e, por não serem completamente vedados, acabam tornando-se focos do mosquito.

						%br
						%p
							Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/oportunista.html">http://www.ioc.fiocruz.br/dengue/textos/oportunista.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)
			.accordion-group
				.accordion-heading{style: "padding:10px;"}
					%a{href: 'javascript:$("#collapse2").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
						Alimentação
				#collapse2.collapse.in.accordion-body
					.accordion-inner{style: "padding: 9px 25px;"}
						%p
							Machos e fêmeas do Aedes aegypti alimentam-se de substâncias açucaradas, como néctar e seiva. Somente a fêmea pica o homem para sugar sangue (hematofagia), alimento necessário à maturação dos ovos. Geralmente, a hematofagia é mais voraz a partir do segundo ou terceiro dia depois da emergência da pupa e da cópula com o macho.
						%br
						%p
							Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/oportunista.html">http://www.ioc.fiocruz.br/dengue/textos/oportunista.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)
			.accordion-group
				.accordion-heading{style: "padding:10px;"}
					%a{href: 'javascript:$("#collapse3").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
						Reprodução e desova
				#collapse3.collapse.in.accordion-body
					.accordion-inner{style: "padding: 9px 25px;"}
						%p
							Entenda o ciclo reprodutivo do mosquito transmissor do vírus da dengue
						%p
							O acasalamento do Aedes aegypti se dá dentro ou ao redor das habitações, geralmente nos primeiros dias depois que o mosquito chega à fase adulta. É preciso somente uma cópula para a reprodução ser concretizada, pois a fêmea guarda o esperma na espermateca. Após a cópula, as fêmeas precisam realizar a hematofogia (alimentação com sangue) importante para o desenvolvimento completo dos ovos e sua maturação nos ovários Normalmente, as fêmeas do Aedes aegypti encontram-se aptas para a postura de ovos três dias após a ingestão de sangue, passando então a procurar local para desovar.
						%p
							A desova acontece, preferencialmente, em criadouros com água limpa e parada. Os ovos são depositados nas paredes do criadouro, bem próximo à superfície da água, porém não diretamente sobre o líquido. Daí a importância de lavar, com escova ou palha de aço, as paredes dos recipientes que não podem ser eliminados, onde o ovo pode permanecer grudado. 
						%br
						%p
							Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/oportunista.html">http://www.ioc.fiocruz.br/dengue/textos/oportunista.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)
				.accordion-heading{style: "padding:10px;"}
					%a{href: 'javascript:$("#collapse4").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
						Ovos
				#collapse4.collapse.in.accordion-body
					.accordion-inner{style: "padding: 9px 25px;"}
						%p
							Uma fêmea pode dar origem a 1.500 mosquitos durante a sua vida. Os ovos são distribuídos por diversos criadouros – estratégia que garante a dispersão e preservação da espécie. Se a fêmea estiver infectada pelo vírus da dengue quando realizar a postura de ovos, há a possibilidade de as larvas filhas já nascerem com o vírus, no processo chamado de transmissão vertical.
						%p
							Inicialmente, os ovos possuem cor branca e, com o passar do tempo, escurecem devido ao contato com o oxigênio. O ovo do A. aegyptimede aproximadamente 0,4 mm de comprimento e é difícil de ser observado.
						%br
						= image_tag "natureza.png"
						%br
						%p{style: "color: red; font-size:16px;"}
							Na natureza, os ovos do A. aegypti podem sobreviver até 450 dias fora d’água.
						}
						%p
							Os ovos adquirem resistência ao ressecamento muito rapidamente, em apenas 15h após a postura. A partir de então, podem resistir a longos períodos de dessecação – até 450 dias, segundo estudos. Esta resistência é uma grande vantagem para o mosquito, pois permite que os ovos sobrevivam por muitos meses em ambientes secos, até que o próximo período chuvoso e quente propicie a eclosão.
						%br
						%p
							Em condições favoráveis de umidade e temperatura, o desenvolvimento do embrião do mosquito é concluído em 48 horas. A resistência à dessecação permite também que os ovos sejam transportados a grandes distâncias, em recipientes secos. Esse aspecto importante do ciclo de vida do mosquito demonstra a necessidade do combate continuado aos criadouros, em todas as estações do ano.
						%br
						%p
							Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/oportunista.html">http://www.ioc.fiocruz.br/dengue/textos/oportunista.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)
				.accordion-heading{style: "padding:10px;"}
					%a{href: 'javascript:$("#collapse5").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
						Acesse o infográfico 
				#collapse5.collapse.in.accordion-body
					.accordion-inner{style: "padding: 9px 25px;"}
						%p
							Entenda o ciclo reprodutivo do mosquito transmissor do vírus da dengue
						%p
							O acasalamento do Aedes aegypti se dá dentro ou ao redor das habitações, geralmente nos primeiros dias depois que o mosquito chega à fase adulta. É preciso somente uma cópula para a reprodução ser concretizada, pois a fêmea guarda o esperma na espermateca. Após a cópula, as fêmeas precisam realizar a hematofogia (alimentação com sangue) importante para o desenvolvimento completo dos ovos e sua maturação nos ovários Normalmente, as fêmeas do Aedes aegypti encontram-se aptas para a postura de ovos três dias após a ingestão de sangue, passando então a procurar local para desovar.
						%p
							A desova acontece, preferencialmente, em criadouros com água limpa e parada. Os ovos são depositados nas paredes do criadouro, bem próximo à superfície da água, porém não diretamente sobre o líquido. Daí a importância de lavar, com escova ou palha de aço, as paredes dos recipientes que não podem ser eliminados, onde o ovo pode permanecer grudado. 
						%br
						%p
							Fonte: <a href="http://www.ioc.fiocruz.br/dengue/textos/oportunista.html">http://www.ioc.fiocruz.br/dengue/textos/oportunista.html</a> - Instituto Oswaldo Cruz (IOC/Fiocruz)
		%h1 O mosquito da Dengue, curiosidades do Aedes aegypti.


:javascript
	$(".collapse").collapse();
      

