.row
  .span14.offset1
    %h1
      Perguntas Frequentes


    %h2 Sobre o Dengue Torpedo
    .offset1
      %h3{style: "font-weight:bold;"} O que é o Dengue Torpedo?
      %p
        O Dengue Torpedo (DT) é um aplicativo social e gratuito para telefones celulares básicos com câmeras que promove iniciativas comunitárias para a prevenção da dengue. Para saber mais sobre o projeto leia Sobre o Dengue Torpedo [ link 
        = link_to "http://denguetorpedo-staging.herokuapp.com/about", about_path, class: "users"
        ].
      %br

      %h3{style: "font-weight:bold;"} Quanto custa jogar? 
      %p
        O Dengue Torpedo é gratuito e ao ser jogado acumula pontos que podem ser trocados por prêmios.
      %br
      
      %h3{style: "font-weight:bold;"} Quem pode jogar?
      %p
        Pode jogar qualquer morador com celular com câmera digital e computador com acesso à internet. Entretanto, na fase atual estamos testando o aplicativo em um grupo da Comunidade da Maré.
      %br

      %h3{style: "font-weight:bold;"} O que eu preciso ter para jogar?
      %p
        Para jogar é necessário ter um telefone celular com câmera, uma conta de e-mail e acesso à internet.
      %br

    %h2 Sobre o sistema de pontuação.
    .offset1
      %h3{style: "font-weight:bold;"} Onde eu troco meus pontos?
      %p
        Você pode trocar os seu pontos por prêmios. Cada prêmio necessita de um tipo de pontuação. Verifique a lista completa no link [página prêmios/ prize page 
        = link_to "http://denguetorpedo-staging.herokuapp.com/premios", prizes_path, class: "users"
        ]. 
        Para utilizar os seus pontos você deve clicar no cupom do prêmio solicitado, imprimir e levar para o estabelecimento que patrocina o prêmio junto com documento válido com foto [ex.: RG]. 
      %br

      %h3{style: "font-weight:bold;"} Posso trocar meus pontos quantas vezes quiser?
      %p
        Cada prêmio possui um estoque e regra específica de troca. Consulte as regras na lista de prêmios link [página prêmios/ prize page 
        = link_to "http://denguetorpedo-staging.herokuapp.com/premios", prizes_path, class: "users"
        ].
      %br

      %h3{style: "font-weight:bold;"} Qual o limite de prêmios por participante? 
      %p
        Cada prêmio possui um estoque e regra específica de troca. Consulte as regras na lista de prêmios link [página prêmios/ prize page 
        = link_to "http://denguetorpedo-staging.herokuapp.com/premios", prizes_path, class: "users"
        ].

      %br
      %h3{style: "font-weight:bold;"} Posso juntar pontos com outros jogadores, como vizinhos, para trocar por prêmios mais altos?
      %p
        Os pontos são intransferíveis e, no momento, não há como acumular pontos com outros jogadores.
/ Quem pode jogar?
/ Pode jogar qualquer morador com celular com câmera digital e computador com acesso à internet. Entretanto, na fase atual estamos testando o aplicativo em um grupo da Comunidade da Maré.


/ O que eu preciso ter para jogar?
/ Para jogar é necessário ter um telefone celular com câmera, uma conta de e-mail e acesso à internet.


/ Sobre o sistema de pontuação.


/ Onde eu troco meus pontos?
/ Você pode trocar os seu pontos por prêmios. Cada prêmio necessita de um tipo de pontuação. Verifique a lista completa no link [página prêmios/ prize page http://denguetorpedo-staging.herokuapp.com/premios]. 
/ Para utilizar os seus pontos você deve clicar no cupom do prêmio solicitado, imprimir e levar para o estabelecimento que patrocina o prêmio junto com documento válido com foto [ex.: RG]. 


/ Posso trocar meus pontos quantas vezes quiser?
/ Cada prêmio possui um estoque e regra específica de troca. Consulte as regras na lista de prêmios link [página prêmios/ prize page  http://denguetorpedo-staging.herokuapp.com/premios]


/ Qual o limite de prêmios por participante? 
/ Cada prêmio possui um estoque e regra específica de troca. Consulte as regras na lista de prêmios link [página prêmios/prize page http://denguetorpedo-staging.herokuapp.com/premios]


/ Posso juntar pontos com outros jogadores, como vizinhos, para trocar por prêmios mais altos?
/ Os pontos são intransferíveis e, no momento, não há como acumular pontos com outros jogadores
