- content_for :content do
  #home_orange_promotion
    %ul#promotion_list
      %li ABOUT
      %li REPORT
      %li CLAIM
      %li ELIMINATE
      %li REWARDS
  #neighborhoods
    = render "neighborhood_list"
  #houses
    = render "house_list"
  #sponsors
    %h4 Sponsors
    