.row
	.span14.offset1
		%h1
			Manual de Conduta
		%p 
			Observar, encontrar e eliminar focos de dengue é a principal atividade do Dengue Torpedo. 
			Mas atenção, nem sempre essa tarefa é fácil!
			%br
			Alguns focos da dengue não ficam em locais fáceis, como lajes, terrenos baldios etc. 
			%br
			Alguns focos ficam em locais que não podemos entrar, como a casa de um vizinho.
			%br
			Para ajudar nesses casos, o Dengue Torpedo cria procedimentos com o objetivo de evitar problemas desnecessários. 

		%br
		.accordion#accordion1
			.accordion-group
				.accordion-heading{style: "padding:10px;"}
					%a{href: 'javascript:$("#group").collapse("toggle");', style: "font-size:20px;font-weight:bold;", class: "accordion-heading", data: { parent: "#accordion1"}}
						Local com provável foco
				#group.collapse.in.accordion-body
					.accordion-inner
						%h2
							Na casa de outra pessoa
						#casa
							%p
								Se você acha que algum vizinho ou comércio tem um foco de dengue, converse com o dono da casa ou do estabelecimento e convide ele a participar do jogo Dengue Torpedo. Se ele aceitar o convite poderá eliminar focos e ganhar prêmios também. Dentro do Dengue Torpedo essa ação se chama <b>recrutamento</b>. Com ela, você consegue pontos e ainda recruta um parceiro na luta contra a dengue.
							%br
							%p
								Uma outra solução é convidar seu vizinho a participar das palestras sobre Dengue oferecidas na comunidade e sensibilizá-lo a eliminar focos em sua residência ou entregar  os materiais educativos sobre como eliminar os focos de dengue.  Consulte a página ”Minha Comunidade” no site Dengue Torpedo!
							%br
							%p
								Se nenhuma das estratégias funcionar, você deve comunicar o Agente de Vigilância em Saúde (AVS) da sua área que irá tomar as devidas providências, podendo inclusive confirmar a existência do foco.
							%br
							%p
								<b>ATENÇÃO:</b>  É importante evitar qualquer conflito em sua vizinhança, acusando seu vizinho de ter focos de dengue em casa. 
						%br
						%h2
							Em grandes áreas

						#areas
							%p
								Se você encontrar uma área com muitos focos, como ruas com pontos de água ou lixo acumulados ou grandes terrenos baldios, você pode organizar mutirões de limpeza contra a dengue. Converse com seus vizinhos ou outros participantes do Dengue Torpedo para planejar essa ação. Você também pode solicitar o auxílio dos verificadores ou coordenadores comunitários do Dengue Torpedo nessa tarefa.
							%br 
							%p
								Use o seu blog para pensar em uma ação coletiva!
		.accordion-group	
			.accordion-heading{style: "padding:10px;"}		
				%a{href: 'javascript:$("#focos").collapse("toggle");', style: "font-size:20px;font-weight:bold;", data: { parent: "#accordion1"}}
					Focos de difícil acesso

			#focos.collapse.in.accordion-body
				.accordion-inner
					%p
						Se o foco que você encontrou estiver em um local de difícil acesso, como na laje da sua residência, você pode solicitar a ajuda de outro usuário ou de um Agente de Vigilância em Saúde ( AVS). 
					%br
					%p
						Os pontos de eliminação serão dados para a pessoa que eliminou o foco. Mas você receberá os pontos pela identificação do foco.
		%br
		.accordion-group
			.accordion-heading{style: "padding:10px;"}
				%a{href: 'javascript:$("#casos").collapse("toggle");', style: "font-size:20px;font-weight:bold;", data: { parent: "#accordion1"}}
					Casos de fraude ou mau uso

			#casos.collapse.in.accordion-body
				.accordion-inner
					%p
						Os focos marcados e eliminados no Dengue Torpedo são constantemente verificados pela equipe do jogo e também pelos verificadores, que são os Agentes Comunitários de Saúde e os Agentes de Vigilância em Saúde.
					%br
					%p
						Se você perceber que algum participante do Dengue Torpedo está fraudando o jogo, fingindo identificar focos ou ainda criando focos para eliminá-los, não fique calado! Você deve falar com os coordenadores do Dengue Torpedo através da página de contato. Ninguém vai saber quem fez a denúncia.
					%br
					%p
						Caso seja confirmado o mau uso, o usuário será suspenso do Dengue Torpedo por um tempo, e se ele voltar a cometer o mesmo erro ele será banido do site. Todas as informações serão mantidas em sigilo. 

:javascript
	$(".collapse").collapse();
