.post_feed
  .row
    .span1
      .post_feed_profile_photo
        = link_to image_tag(post.user.profile_photo.url(:large)), user_path(post.user)
    .span8
      .row
        .span8
          .post_feed_title
            %h3= post.title
      .row
        .span8
          .post_feed_content
            = post.content
      
      
