.post_feed
  .row
    .span2{:style => "width:80px;"}
      .post_feed_profile_photo
        = link_to image_tag(post.user.profile_photo.url(:large)), user_path(post.user)
    .span6
      .row
        .span7
          .post_feed_title
            %h3= post.title
      .row
        .span7
          .post_feed_content
            = auto_link(post.content)

  .row
    .post_time_stamp
      = 'Postado: ' + post.strf_updated_at
      -if @current_user != nil && post.user.id == @current_user.id
        =link_to (image_tag 'icons/reports icon/delete1.png', :id=>'user_post_delete'), user_post_path(@current_user.id, post.id), :confirm => "Are you sure?", :method => :delete

