.row
  .span8.offset1
    Neighborhood of
    #{@neighborhood.name}
.row
  #neighborhood_stats
    .span2.offset1
      No. 1
    .span3
      1700REPORTS
    .span2
      493
    .span2
      234
    .span2
      1003
    .span2
      14
    .span2
      53
.row
  .span10.offset1
    %ul#neighborhood_house_list
      - @houses.each do |house|
        %li.neighborhood_house_photo_thumb.span3
          = link_to image_tag("home_images/neighborhood1.png"), house_path(house)
          -#= link_to house.name, house_path(house)
      - if @houses.count < 7
        - (9 - @houses.count).times do          
          %li.neighborhood_house_photo_thumb.span3
            = image_tag("home_images/neighborhood1.png")
            -#%br Future House