<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<html lang="en">
<head>
    <title>DengueTorpedo Slider</title>
	<div id="slider_title"><h1> <big> DengueTorpedo </big> </h1></div>
    <link rel="stylesheet" href="../themes/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="../nivo-slider.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" />
</head>
<body>
    <div id="wrapper">
        <div class="slider-wrapper theme-default">
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
                <img src="images/rio12.jpg" width="1024" height="576" alt="" />
				<img src="images/workshop.jpg" width="1024" height="576" alt="" />
                <img src="images/fun.jpg" width="1024" height="576" alt="" title="Get involve in the game around your neighborhood!" />
                <img src="images/giving.jpg" width="1024" height="576" alt="" data-transition="slideInLeft" />
                <img src="images/saopaulo.jpg" width="1024" height="576" alt="" title="#htmlcaption" />
            </div>
            <div id="htmlcaption" class="nivo-html-caption">
                <strong>Sao Paulo</strong>.
            </div>
        </div>

    </div>
	<div id='home_orange_promotion'>
	<div id='registration'>
	<form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="pLX6g+55J7ArJld2cT7AVhXwi6RmA4CYnJIkOVBJONY=" /></div>

	<a id='title'>Register</a> <br/>
	<input id="user_username" name="user[username]" placeholder="Username" size="30" type="text" /> <br/>
	<input id="user_email" name="user[email]" placeholder="Email" size="30" type="text" />  <br/>
	<input id="user_password" name="user[password]" placeholder="Password" size="30" type="password" />  <br/>
	<input id="user_password_confirmation" name="user[password_confirmation]" placeholder="Password Confirmation" size="30" type="password" /> <br/>
	<input name="commit" type="submit" value="Submit" />
	</form>

	</div>
	</div>
	
	
	<div id='home_orange_promotion2'>
	<div id='registration2'>
	<form accept-charset="UTF-8" action="/users" class="new_user" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="pLX6g+55J7ArJld2cT7AVhXwi6RmA4CYnJIkOVBJONY=" /></div>

	<a id='title'><font face="arial" color="white">Register</font></a> <br/>
	<input id="user_username" name="user[username]" placeholder="Username" size="30" type="text" /> <br/>
	<input id="user_email" name="user[email]" placeholder="Email" size="30" type="text" />  <br/>
	<input id="user_password" name="user[password]" placeholder="Password" size="30" type="password" />  <br/>
	<input id="user_password_confirmation" name="user[password_confirmation]" placeholder="Password Confirmation" size="30" type="password" /> <br/>
	<input name="commit" type="submit" value="Submit" />
	</form>

	</div>
	</div>
	
	<div id = 'backbox'>
		</div>
	
	
	
	<script type="text/javascript" src="scripts/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
</body>
</html>