@import "variables";


.report.claimed_report{
	height:150px;
	padding-top:10px;
	padding-left:5px;
	background:url("house_images/report_claimed.png");
	background-repeat:no-repeat;
	border-width:0px;
	h4{
		font-size:14px;
		margin-left:5px;
		margin-top:5px;
	}
	.time_stamp{
		position:absolute;
		margin-top:34px;
		margin-left:300px;
		color:Gray;
		font-size:12px;
		}
	.status{
		
		margin-top:0px;
		margin-right:20px;
	}
	.report_content{

		&p{
			font-size:14px;
			font-style:italic;
			margin-bottom:10px;
		}
	}
	a{
		
		font-size:12px;
		font-style:bold;
		color:gray;

		&.user{
			color:$blue;
		}
	}

}