@import "variables";

#login {
  margin-left: 60px;
  width: 322px;
  height: 90px;
  text-align: left;
  
  ul {
    li {
      display: inline;
    }
  }
  
  input[type = "text"], input[type = "password"] {
    width: $login-width;
    height: 15px;
    margin-bottom: 5px;
	padding:5px 0px 5px 5px;
  }
    
  input[type = "submit"] {
    margin-right: 20px;
    font-size: 12px;
  	float: right;
  	color: #ffffff;
    background: $blue;
    vertical-align: middle;
    padding:0px;
  }
	
 input[type = "submit"]:hover{
	color:black;
}

  #error {
   height: $login_error_height;
   margin-left: 5px;
   font-size: 11px;
  }
}

#logged_in{
  width: 303px;
  height: 90px;
  
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 40px;
  text-align: left;
  h3{
	color:white;
}
  ul {
  }
  #dashboard_search {
    margin-left: 0px;
    margin-top: 6px;
    input {
	  padding:4px;
	  margin-top:-5px;
      width: 200px;
    }
  }
  
  h3 {
    margin-bottom: 0px;
    font-color: #333333;
  }
}



#login_error {
  border-width: 0px;
  height: $login_error_height;
  vertical-align: text-top;
  margin-bottom: 5px;
  margin-right: -5px;
  font-color: $red_alert;  
}
