@import "variables";

#register_button {
  position:absolute;
  margin-top: -24px;
  margin-left: 60px;
  border-radius: $button_border_radius;
  text-align:center;
  width: 65px;
  height: 20px;
  padding: 6px;
  color: #FFFFFF;
  font-size: 14px;
  background: $dark-gray;
  text-decoration: none;
  opacity: .8;
  
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

#login {
  width: 303px;
  height: 90px;
  float: left;
  margin-right: 10px;
  margin-left: 15px;
  text-align: left;
  
  input{
    text-align: left;
    margin-right: 10px;
    width: $login-width;
    height: 12px;
    border: 0px;
    padding: 5px;
    color: Gray;
    background-color: #FFFFFF;
    opacity: 0.7;
    font-size: 14px;

    &#password{
      margin-top:5px;
    }
    
    &:focus {
      opacity: 1;
    }
    
    &[type = "checkbox"] {
      padding: 5px;
      height:10px;
      width:15px;
      margin-top:6px;
    }
  }
  
  input[type = "submit"] {			
    position: absolute;
    margin-top: -24px;
    border-radius: $button_border_radius;
    text-align: center;
    width: 55px;
    height: 32px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 5px;
    background: $dark-gray;
      
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  #error {
   height: $login_error_height;
   margin-left: 5px;
  }
}

#logged_in{
  width: 303px;
  height: 90px;
  float: left;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 50px;
  text-align: left;
  
  h4 {
    margin: 0px;
    font-color: #333333;
  }
}

#login_error {
  border-width: 0px;
  height: $login_error_height;
  vertical-align: text-top;
  margin-bottom: 5px;
  margin-right: -5px;
  font-color: $red_alert;  
}
