@import "variables";

#register_button {
  position:absolute;
  margin-top: -24px;
  margin-left: 60px;
  border-radius: $button_border_radius;
  text-align:center;
  width: 65px;
  height: 20px;
  padding: 6px;
  color: #FFFFFF;
  font-size: 14px;
  background: $dark-gray;
  text-decoration: none;
  opacity: .8;
  
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

#login {
  width: 303px;
  height: 90px;
  float: left;
  margin-right: 10px;
  margin-left: 15px;
  text-align: left;
  
  input{
    text-align: left;
    border-radius: $input_border_radius;
    margin-right: 10px;
    width: $login-width;
    height: 12px;
    border: 0px;
    padding: 5px;
    color: Gray;
    background-color: #FFFFFF;
    opacity: 0.7;
    font-size: 14px;

    &#password{
      margin-top:5px;
    }
    
    &:focus {
      opacity: 1;
      outline: none;
    }
    
    &[type = "checkbox"] {
      padding: 5px;
      height:10px;
      width:15px;
      margin-top:6px;
    }
  }
  
  input[type = "submit"] {			
    position: absolute;
    margin-top: -24px;
    border-radius: $button_border_radius;
    text-align: center;
    width: 55px;
    height: 32px;
    color: #FFFFFF;
    font-size: 14px;
    padding: 5px;
    background: $dark-gray;
      
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }

  #error {
   height: $login_error_height;
   margin-left: 5px;
  }
}

#logged_in_section{
  
  float:right;
  margin-right:45px;
  margin-top: 10px;
  font-size:12px;
  color:$dark-gray;
  
  a {
    &:hover {
      text-decoration: none;
    }
    &#logged_in_message {
      font-size:14px;
    }
    &#username {
      font-size:14px;
      color:white;
      font-style:italic;
    }
    &#logout_link {
      margin-left:20px;
      &:hover{
       	cursor:pointer;
      }
    }
  }
}
