// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "layout";

#orange_slider {

  height: 430px;
  margin-top: 0px;
  padding-top: 30px;
  
  background-image: url(home_images/orange_section_bg.png);
  background-position: top;
  background-size: cover;
  z-index: 0;
  #top {
    margin-top: 10px;
    color: #ffffff;
    #top_right {
      color: black;
    }
    h1 {
      
    }
    h2, h3 {
      margin-top: -3px;
      margin-left: -20px;
    }
    h3 {
      margin-top: -18px;
    }
  }

  #section {
    margin-top: 115px;
  }
  
  #video {
    background: #F5D1BA;
    height: 310px;
  }
  
  .slider {
    width:  600px;
    height: 220px;
    margin-left: 400px;
  }
  
  #orange_pull_up {
    color: $dark-gray;
    width: 50px;
    float: right;
    margin: 26px 20px 0px 0px;
    font-style: italic;
    border: 2px solid $dark-gray;
    line-height: 18px;
    .extra_border {
      border: 1px;
      
      width: 50px;
      height: 0px;
      margin: 2px -2px;
      border-style: solid;
      border-color: $dark-gray;
      
    }
  }
}
#orange_border {
  border-top: 3px solid white;
  margin-top: -5px;
  position: absolute;
  background: $orange;
  height: 3px;
  width: 100%;
  #orange_pull_down {
    float: right;
    color: $dark-gray;
    width: 70px;
    font-style: italic;
  }
}
