// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";
@import "layout";

#orange_slider {

  height: 430px;
  margin-top: -65px;
  padding-top: 60px;
  
  background-image: url(home_images/orange_section_bg.png);
  background-position: top;
  background-size: cover;
  z-index: 0;
  #top {
    color: #ffffff;
    #top_right {
      color: black;
    }
    h2, h3 {
      margin-top: -3px;
      margin-left: -20px;
    }
    h3 {
      margin-top: -18px;
    }
  }

  #section {
    margin-top: 115px;
  }
  #video {
    background: #000000;
    margin-left: 50px;
    height: 310px;

  }

  
  .slider {
    width:  600px;
    height: 220px;
    margin-left: 400px;
  }
}
