@import "variables";

#registration{
  width: $max-width;
  font-color: #333;
  padding-top: 150px;
  padding-left: 50px;
  
  h1 {
    margin-bottom: 10px;
  }
  
  label {
    font-size: 16px;
    display: block;
  }

  input {
    display: block;
    border-radius: $input_border_radius;
    border: 0px;
    background: $light-orange;
    width: $field_width;
    height: 33px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    &[type = "Submit"] {
      border-radius: $button_border_radius;
      width: 75px;
      padding: 5px;
      background-color: $blue;
      opacity: .8;

       &:hover {
         opacity: 1;
         cursor: pointer;
       }
    }
  }
}
