$background-color: #F5F7E0;
$orange: #FF6600;
$blue: #00CCCC;
$light-gray: #C4C7B4;
$dark-gray: #4E6868;
$light-orange: #faa063;
$darkest_orange: #C64F00;
$dark_orange: #d0590a;
$red_alert: #fa0000;
$background_orange: #F86128;

$registration_width: 232px;
$field_width:232px;
$login-width: 160px;
$max-width: 1040px;
$login_error_height: 14px;
$button_border_radius: 5px;
$input_border_radius: 3px;

