/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
*= require gmaps4rails
*= require_tree .
*/


@import "variables";
@mixin colored_text($color) {
  color: $color;
}

#login_bg {
  position: absolute;
  background: rgb(140,228,228);
  opacity: 0.8;
  right: 30px;
  width: 320px;
  height: 95px;
}

#logo {
  position: absolute;
  left: 70px;
  width: 150px;
}

#home_nav_bar {
  background-color: $blue;
  //background-image: url(non_home_nav/nav_bar_bg_no_orange.png);
  //background-repeat: no-repeat;
  //background-position: top;

  height: 90px;
  z-index: 2;
  border-bottom: 4px solid #ffffff;
}

ul#dashboard_bar {
  margin-top: 10px;

  li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  li.spacer
  {
    margin-right: 20px;
  }
}
#action_bar {
  
  margin-left: 11px;
  margin-top: 10px;
  list-style-type: none;
  
  .action_active {
    margin-top: 10px;
    display: inline;
    img {
    //width: 128px;
    }
  }
  .action_inactive {
    
    display: inline;
    margin-right: 11;
    img {
      padding-top: 32px;
     //width: 96px;
    }
  }
  .action_data {
    text-align: center;
    color: orange;
    margin-top: 40px;
  }
  #action_picture {

<<<<<<< HEAD
  }
}


=======
>>>>>>> f29315592c99de1c1c7e6e7b77f1f09aeb7f01f2
.main_nav_button {
  height: 50px;
  font-size: 32px;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
  padding-left: 0px;
  span {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: normal;
    
    margin-top: 8px;
  }
}

#footer {
  padding: 10px;
  height: 45px;
  text-align: center;
}

.clearfloat { 
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

// Define some common classes.
.bold_text {
  font-weight: bold;
}

.gray_text {
  @include colored_text(Gray);
}

.lightgray_text {
  @include colored_text(LightGray);
}

.darkgray_text {
  @include colored_text($dark_gray);
}

.absolute {
  width: inherit;
  position: absolute;
}
