/*
* This is a manifest file that'll automatically include all the stylesheets available in this directory
* and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
* the top of the compiled file, but it's generally better to create a new file per style scope.
*= require_self
*= require gmaps4rails
*= require_tree .
*/

@import "variables";

@mixin colored_text($color) {
  color: $color;
}

#logo {
  position: absolute;
  left: 70px;
  width: 150px;
  z-index: 1;
}

#logo_short {
  position: absolute;
  left: 70px;
  width: 150px;
}

#home_nav_bar {
  background-color: $blue;
  height: 70px;
}

#white_spacer {
  background-color: #ffffff;
  height: 5px;
}

ul#dashboard_bar {
  
  margin-top: 10px;
  li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  li.spacer{
    margin-right: 20px;
  }
}



#footer {
  padding: 10px;
  height: 45px;
  text-align: center;
}

.clearfloat { 
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

.absolute {
  width: inherit;
  position: absolute;
}
