// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#dashboard_bar {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 1px 1px #BFBEBD;
  height: 40px;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: $orange;
  
  ul {
    margin: -15px;
    margin-left: -34px;
    float: left;
    
    li {
      height: 40px;
      display: inline;
      margin-right: 10px;
      padding-right: 2px;
    }
  }
}

.nav_highlight {
  font-weight: bold;
}