// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#dashboard_bar {
  background-color: #FF6600;
  box-shadow: 0px 1px 1px #BFBEBD;
  height: 40px;
  
  ul {
    margin: -15px;
    float: left;
    li {
      display: inline;
      margin-right: 10px;
    }
  }
}