// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#dashboard_bar {
  background-color: white;
  /*box-shadow: 0px 1px 1px #BFBEBD;*/
  height: 41px;
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: $orange;
  
  ul {
    margin: -15px;
    margin-left: -20px;
    float: left;
    
    li {
      height: 40px;
      display: inline;
      margin-right: 10px;
      padding-right: 2px;
    }
  }
}
.nav_highlight {
  height: 37px;
  padding: 0px 5px;
  background-color: $orange;
  border-radius: 2px;
  a:link, a:visited {
    color: white;
  }
}
.nav_item:hover{
 /* background-color:rgba(0,0,0,0.1);
  border-radius: 2px;*/
	a{
		color:gray;
	}
}