$blue: #00CCCC;
$grey: #D5D7C3;
$sand: #E9ECD6;
$light-grey:#CCCCCC;
$charcoal: #666666;
$orange: #FF6600;


body{
font-family: Lucida Grande;
font-size: 10px;
}

h1	 {
font-size:24px;
}

h2	{
font-size: 18px;
}

h3	{
font-size: 14px;
}

h4	{
font-size: 12px;
}

h5	{
font-size: 10px;
}

.button{
	background-color: $blue;
	padding: 10px 0px 10px 0px;
	color: white;
	text-align: center;
	}

#prevention{
	margin-top: 90px;
	}
	

img.square{
	height: 150px;
}

.share {
       height: 260px;
       background-color: $sand;
       }


