// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$orange: #FF6600;
$dark_orange: #d0590a;
$standard_font: "Arial Black", Gadget, sans-serif;
$max-width: 1040px;
$blue: #00CCCC;
$light-gray: #C4C7B4;

@import "RegistrationForm";

@mixin section-base {
  border-style: solid;
  border-width: 1px;
  border-color: #bcbfa9;
  border-radius: 2px;
  background: #e2e5cf;
}

#home_orange_promotion {
  background-image: url("home_images/orange_section_bg.png");
  background-repeat: no-repeat;
  width: $max-width;
  height: 402px;
}

#neighborhood_search {
  width: 1040px;
  height: auto;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 20px;

  h2 {
    float: left;
    font-size: 20px;
    padding-top: 7px;
  }

  #neighborhood_search_background {
    background: #e2e5cf;
    padding: 5px;
    width: 615px;
    float: left;
    margin-left: 75px;
  }

  input, input:focus {
    width: 545px;
    height: 30px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-right: 3px;
  }
  button {
    width: 60px;
    height: 30px;
    background: #bfc1b0;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    border: none;
  }
}


.flash.notice {
  font-size:14px;
  height:14px;
  color:white;
  font-style:italic;
  border:none;
  padding:0px;
  opacity:.75;
  background:transparent;
  position:absolute;
  margin:0px 0px 0px 760px;
  margin-top:10px;
}

#blank_space{
  display: hidden;
  height: 80px;
}

#neighborhoods {
  width: 1040px;
  height: auto;
  padding-left: 45px;
  padding-top: 20px
}

ul#neighborhood_list {
  list-style-type: none;
  margin-bottom: 20px;
  li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 20px
  }
  
  .neighborhood_selection {
    width: 300px;
    height: 300px;

    .neighborhood_selection_header {
      width: auto;
      height: 30px;
      background: #65665c;
      margin-bottom: 5px;
      text-align: left;
      padding-top: 10px;
      padding-right: 10px;
      padding-left: 10px;
      a {
        color: #FFFFFF;
      }
    }

    .neighborhood_selection_photo {
      width: auto;
      height: 255px;
      background: #FFFFFF;
      img {
        margin: 0px;
      }
    }
  }
}

#houses {
  width: 1040-45px;
  height: 280px;
  padding-left: 45px;
}

ul#house_list {
  list-style-type: none;
  width: 660px;
  height: 90%;
  float: left;
  
  li {
    list-style-type: none;
    display: inline-block;
    min-width: 115px;
    height: auto;
    margin-right: 5px;
    text-align: left;
    
    #house_photo_thumb {
      width: 115px;
      height: 90px;
      margin-top: 5px;
    }
    
    a {
      font-size: 12px;
    }
  }
}

#neighborhood_status {
  width: 300px;
  height: 90%;
  float: left;
  
  #neighborhood_button {
    border-radius: 5px;
    width: 80%;
    height: 35px;
    background: #00cc66;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    a {
      font-size: 20px;
    }
  }
  #total_reports_in_neighborhood {
    width: 80%;
    height: 70px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
  }
  ul {
    list-style-type: none;
    width: 80%;
    height: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
    li {
      list-style-type: none;
      display: inline-block;
      width: 78px;
      height: 100px;
      float: left;
      text-align: center;
      
      .neighborhood_report_status {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
      }
      
      #neighborhood_open_reports {
        background: $orange;
      }
      #neighborhood_claimed_reports {
        background: $blue;
      }
      #neighborhood_resolved_reports {
        background: $light-gray;
      }
    }
  }
}

#sponsors {
  background: #e2e5cf;
  width: 1040-45;
  height: 190px;
  padding-left: 25px;
  padding-top: 10px;
  margin-left: 45px;
  margin-right: 45px;
  
  ul {
    list-style-type: none;
    li {
      border-style: solid;
      border-width: 1px;
      border-color: #bcbfa9;
      list-style-type: none;
      display: inline-block;
      margin-top: 10px;
      margin-right: 20px;
      margin-left: 20px
    }
  }
}

.map_container {
  width: auto;
  margin: 10px;
  
  .gmaps4rails_map{
    width: auto;
  }
}
