// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

@mixin section-base {
  border-style: solid;
  border-width: 1px;
  border-color: #bcbfa9;
  border-radius: 2px;
  background: #e2e5cf;
}

#neighborhood_search {
  width: 995px;
  height: 50px;
  padding-left: 45px;
  
  h2 {
    float: left;
    font-size: 20px;
    padding-top: 7px;
    position:absolute;
    top: 560px;
  }

  #neighborhood_search_background {
    background: #e2e5cf;
    padding: 5px;
    width: 615px;
    float: right;
    margin-left: 320px;
    position:absolute;
    top: 560px;
  }

  input, input:focus {
    width: 545px;
    height: 30px;
    border: none;
    font-size: 15px;
    margin-right: 3px;
  }
  
  button {
    width: 60px;
    height: 30px;
    background: #bfc1b0;
    border-radius: $button_border_radius;
    color: white;
    font-size: 15px;
    border: none;
  }
}

#neighborhoods {
  width: 995px;
  height:auto;
  padding-left: 45px;
}

ul#neighborhood_list {
  margin-bottom: 20px;
  
  li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px
  }
  
  .neighborhood_selection {
    width: 300px;
    height: 300px;

    .neighborhood_selection_header {
      width: auto;
      height: 30px;
      background: #65665c;
      margin-bottom: 5px;
      text-align: left;
      padding-top: 15px;
      padding-right: 10px;
      padding-left: 10px;
      
      a, h3 {
        color: #FFFFFF;
        display: block;
      }
      a:hover {
        cursor: pointer;
      }
    }

    .neighborhood_selection_photo {
      width: auto;
      height: auto;
      background: #FFFFFF;
      
      img {
        margin: 0px;
      }
    }
  }
}

.home {
  #houses {
    width: 680px;
    height: 300px;
    padding-left: 45px;
    float: left;
  }
}

ul#house_list {
  width: auto;
  height: 90%;
  
  li {
    display: inline-block;
    min-width: 115px;
    height: auto;
    margin-right: 5px;
    text-align: left;
    
    #house_photo_thumb {
      width: 115px;
      height: 90px;
      margin-top: 5px;
    }
    
    a {
      font-size: 12px;
    }
  }
}

#neighborhood_status {
  width: 300px;
  height: 90%;
  float: right;
  margin-top: 25px;
  
  #neighborhood_button {
    border-radius: $button_border_radius;
    width: 80%;
    height: 35px;
    background: #00cc66;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    a {
      color: #333;
      font-size: 20px;
      display: block;
    }
    &:hover {
      cursor: pointer;
    }
  }
  
  #total_reports_in_neighborhood {
    width: 80%;
    height: 70px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
  }
  ul {
    width: 80%;
    height: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    
    li {
      display: inline-block;
      width: 78px;
      height: 100px;
      float: left;
      text-align: center;
      
      .neighborhood_report_status {
        width: 45px;
        height: 45px;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
      }
      
      #neighborhood_open_reports {
        background: $orange;
      }
      #neighborhood_claimed_reports {
        background: $blue;
      }
      #neighborhood_resolved_reports {
        background: $light-gray;
      }
    }
  }
}

#sponsors {

  background: #e2e5cf;
  width: 950px;
  height: 190px;
  margin-left: 45px;
  padding-top: 10px;
  clear: both;
  
  ul {
    padding-left: 25px;
    li {
      height: 135px;
      border-style: solid;
      border-width: 1px;
      border-color: #bcbfa9;
      display: inline-block;
      margin-top: 10px;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}

.map_container {
  width: auto;
  margin: 10px;
  
  .gmaps4rails_map{
    width: auto;
  }
}
