// Place all the styles related to the House controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background-color: #F5F7E0;
$orange: #FF6600;
$blue: #00CCCC;
$light-gray: #C4C7B4;
$max-width: 1040px;
$max-height: 1250px;

@mixin section-base {
  border-style: solid;
  border-width: 1px;
  border-color: $background-color;
  border-radius: 2px;
  background: #FFFFFF;
}

#right_section {
  float: right;
  width: 420px;
  height: $max-height;
  margin: 0px;
}

#left_section {
  float: left;
  width: 616px;
  height: $max-height;
  margin: 0px;
}

#house_points {
  margin-left: 10px;
  width: auto;
  height: 45px;
  background: $light-gray;
  text-align: right;
  padding-top: 15px;
  color: #000000;
  h2 {
    margin-right: 15px;
  }
}

#reports_map {
  width: auto;
  height: 300px;
}

#house_reports {
  margin-top: 10px;
  margin-left: 10px;
  width:  auto;
  height: auto;
  background: #FFFFFF;
  border-style: solid;
  border-width: 4px;
  border-color: $light-gray;
  border-radius: 2px;
}

ul#report_status  {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: auto;
  padding-left: 2px;
  
  li {
     list-style-type: none;
      display: inline-block;
      width: 123px;
      height: 45px;
      background: #FFF;
      border-radius: 2px;
      text-align: center;
      color: #FFF;
  }
  #house_open_report_button {
    background: $orange;
  }
  #house_claimed_report_button {
    background: $blue;
  }
  #house_resolved_report_button {
    background: $light-gray;
  }
}

















#house_detail {
 float: left;
 margin-top: 80px;
 width: 610px;
 height: auto;
}

#house_posts {
  @include section-base;
  float: left;
  margin-top: 10px;
  width:  610px;
  height: 695px;
}

#house_highlight {
  border-style: solid;
  border-width: 3px;
  border-color: #bcbfa9;
  border-radius: 2px;
  background: #FFF;
  float: left;
  margin-top: 10px;
  width: 607px;
  height: 200px;
}

#house_photo {
  @include section-base;
  background: #FFF;
  float: left;
  width: 200px;
  height: 200px;
  margin-left: 0px;
}

#house_stats_box {
  @include section-base;
  width: 150px;
  height: 40px;
  color: #FFF;
  background: #00cccc;
  padding-top: 15px;
}

ul#house_stats  {
  list-style-type: none;
  li {
    list-style-type: none;
    display: inline;
    float: left;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

ul#house_members {
  list-style-type: none;
  
  li {
    list-style-type: none;
    display: inline;
    float: left;
  }
}

#house_member_photo {
  @include section-base;
  background: #FFF;
  width: 65px;
  height: 65px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-top: 5px;
}