// Place all the styles related to the House controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#house_detail {
  margin-left: 40px;
}

#house_photo {
  width: 150px;
  height: 150px;
}

#neighbor_photo {
  width: 60px;
  height: 60px;
}

#house_members {
  li {
    display: inline;
  }
}

ul#event_list {
  li {
    display: inline;
  }
  
  .event_photo {
    width: 65px;
    height: 65px;
  }
}

#event_info {
  border-style: solid;
  border-width:2px;
  border-color: LightGray;
  padding: 10px;
  background-color: white;

  .event_photo {
    height: 400px;
    width: 100%;
    margin-bottom: 8px;
  }
  .event_description {
    margin-bottom: 8px;
  }
  .comment {
    list-style-type: none;
    padding: 10px; 

    .commenter_photo {
      float: left;
      width: 80px;
      height: 80px;
    }
    .comment_text {
      padding-left: 8px;
      overflow: hidden;
    }
    .commenter_name {
      float: left;
    }
    .comment_date {
      float: right;
    }
  }

  .new_event_comment {
    margin-top: 12px;
    margin-bottom: 12px;
    .comment_content_field {
      width: 100%;
      height: 80px;
      padding: 0;
    }
  }
}

.comment_alternate_color {
  background-color: WhiteSmoke;    
}

#reports_map {
  width: auto;
  height: 200px;
}

#list_of_house_reports{
  margin-top: 10px;
}

#house_open_report_button {
   background-color: $orange;
   width: 118px;
   height: 40px;
   border-radius:2px;
   text-align: center;
 }
 #house_claimed_report_button {
   background-color: $blue;
   width: 118px;
   height: 40px;
   border-radius:2px;
   text-align: center;
 }
 #house_resolved_report_button {
   background-color: gray;
   width: 118px;
   height: 40px;
   border-radius:2px;
   text-align: center;
 }

#houses_in_neighborhood {
  li {
    display: inline;
  }
}



