// Place all the styles related to the House controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#reports_map_temp {
  margin: 8px;
  border: 2px solid gray;
}

#house_neighborhood {
  text-align: center;
  #house_neighborhood_bg {
    margin-top: 2px;
    background: $light-gray;
    color: white;
    border-radius: 2px;
    padding: 10px 5px;
    font-size: 16px;
  }
}

#house_points_bg {
    text-align: center;
    margin: 2px 0px 0px -45px;
    width: 120px;
    background: $blue;
    color: white;
    border-radius: 2px;
    padding: 10px 5px;
    font-size: 16px;
}

#house_badges {
  margin-top: 20px;
}

.house_gray {
  text-shadow: 1px 1px 1px $light-gray;
  color: gray;
  font-weight: normal;
  display: inline;
}

#house_photo {
  width: 225px;
}

#house_members {
  margin-right: 10px;
	img{
		border:1px solid $gray;
	}
}

#neighbor_photo {
  width: 59px;
  height: 59px;
  border:1px solid gray;
}

#house_reports {
  background: #e2e5cf;
  min-height: 860px;
  padding-left: 10px;
}

#reports_map {
  width: 100%;
  height: 180px;
}

#list_of_house_reports{
  margin-top: 10px;
  overflow: auto;
  overflow-x: hidden;
  height: 630px;
  width: 390px;
}

.house_report_button {
  color: #ffffff;
  text-shadow: 1px 1px 1px #000000;
  border-radius:2px;
  text-align: center;
  
  a {
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
  }
}

#house_all_report_button {
  background-color: $red;
  width: 82px;
}

#house_open_report_button {
  background-color: $orange;
  width: 82px;
}

#house_claimed_report_button {
  background-color: $blue;
  width: 82px;
}
 
#house_resolved_report_button {
  background-color: #B4B7A4;
  width: 82px;
}

#houses_in_neighborhood {
  overflow: auto;
  width: auto;
  margin-top:5px;
  
  li {
    display: inline-block;
    margin-bottom: 5px;
  }
}

// hr = house report
.hr_report {
  width: 360px;
  height: auto;
  background-color: white;
  margin: 0px 10px 10px 10px;

  color: #000000;
  font-size: 12px;
  padding: 10px 5px;
  
  .hr_address {
    width: 160px;
    background: #dfdfdf;
    padding: 5px 3px;
  }
  .hr_before_photo {
    width: 60px;
  }

  .hr_after_photo {
    margin-top: 5px;
    width: 60px;
  }

  .report_content {
    width: 360px;
    margin-top: 10px;
    font-size: 14px;
  }
  .report_content_res {
    margin-top: 5px;
    width: 300px;
    font-size: 12px;
    font-style: italic;
    text-shadow: 0 1px 1px #828282;
  }
  .bottom_section {
    padding: 5px;
    clear: both;
    width: auto;
    height: 50px;
  }
  
  .status {
     padding-top: 5px;
     margin-top: 20px;
     width: 70px;
     height: 25px;
     float: right;
     color: #FFFFFF;
     text-align: center;
   }
}

.hr_open {
  border: 2px solid $orange;
  border-radius: 2px;
}
.hr_claimed {
  border: 2px solid $blue;
  border-radius: 2px;
}
.hr_resolved {
  border: 2px solid $light-gray;
  border-radius: 2px;
}



