#errorExplanation {
  width: 450px;
  border: 2px solid Red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color: black;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 1.2em;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: black; }
  ul li {
    font-size: 1.2em;
    list-style: none;
  }
}

.notice {
  color: Green;
  border-style:solid;
  border-width:1px;
  border-color: Green;
  margin-bottom:5px;
  padding: 5px;
}

.alert {
  color: Red;
  border-style: solid;
  border-width: 1px;
  border-color: Red;
  margin-bottom: 5px;
  padding: 5px;
  color: Red;
}
