// Place all the styles related to the Neighborhood controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

@mixin neighborhood_status_button {
  width: 50px;
  height: 40px;
  border-radius: $button_border_radius;
}

#neighborhood_stats {
  margin-top: 10px;
  font-size: 14px;
  b {
    font-size: 15px;
  }
  .house_count {
    text-align: center;
  }
  .participant_count {
    text-align: center;
  }
}
#neighborhood_view {
  font-size: 18px;
  color: $dark-gray;
  padding: 10px 0px;
  .active {
    color: $blue;
  }
}
ul#neighborhood_participants_list {
  list-style-type: none;
  margin-top: 10px;
  
  li.neighborhood_participant_photo_thumb {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;
    width: 150px;
  }
}
ul#neighborhood_house_list {
  list-style-type: none;
  margin-top: 10px;
  
  li.neighborhood_house_photo_thumb {
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 10px;   
    width: 150px;
    
  }
}

#neighborhood_right_panel {
  h4 {
    color: $dark-gray;
    margin-bottom: 5px;
  }
  #neighborhood_coordinator, #neighborhood_health_agent {
    margin-bottom: 10px;
  }
  .neighborhood_profile_box {
    background: white;
    height: 125px;
    border: 2px solid $gray;
  }
  .neighborhood_sponsor_box {
    background: $light-gray;
    height: 250px;
  }
}

#neighborhood_news {
  margin-top: 20px;
  
  ul {
    li {
      background: white;
      border: 2px solid $gray;
      width: 310px;
      margin-left: 0px;
      margin-right: 10px;
      height: 240px;
    }
  }
}

#neighborhood_name {
  margin-left: 5px;
}

#neighborhood_open_report_button {
  @include neighborhood_status_button;
  background-color: $orange;
}
  
#neighborhood_claimed_report_button {
  @include neighborhood_status_button;
  background-color: $blue;
}
  
#neighborhood_resolved_report_button {
  @include neighborhood_status_button;
  background-color: gray;
}

#visit_neighborhood_button {
  width: 205px;
  height: 20px;
  margin-left: 30px;
  border-radius: $button_border_radius;
  background-color: green;
  text-align: center;
  font-size: 18px;
  padding: 10px 5px 10px 5px;
}
  
#rank_box {
  background-color:$light-gray;
  text-align: center;
  padding: 10px 5px 10px 5px;
  width: 80px;
}
    
.neighborhoods {
  #houses_button, #participants_button, #health_agents_button {
    font-size: 1.2em;
    margin-right: 0.5em;
  }
  ul#houses {
  }
  ul#participants {
    display: none;
  }
  ul#health_agents {
    display: none;
  }

  .member {
    display: inline-block;
    margin-right: 1.6em;
    margin-top: 1.5em;
    .photo {
      display: block;
      width: 120px;
      height: 120px;
      margin-bottom: 6px;
    }
  }
}


#right_section {
  float: right;
  height: auto;
  width: 350px;
}

.featured_agent_section {
  min-height: 130px;
  width: 300px;
  background: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #bcbfa9;

  .agent_photo {
    height: 110px;
    width: 110px;
    background: #808080;
    margin: 10px;
    float: left;
  }
  #h3 {
    float: left;
    margin-top: 10px;
  }
  .agent_description {
    float: left;
    height: auto;
    width: 170px;
    margin-top: 10px;
  }
  .view_profile {
    margin-top: 10px;
    margin-left: 100px;
    float: left;
  }
}

#local_sponsors_section {
  height: 290px;
  width: 280px;
  background: #e2e5cf;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;

}

#bottom_section {
  .news_block {
    background-color: White;
    border-style: solid;
    border-width: 1px;
    border-color: #EDEDED;
    width: 304px;
    display: inline-block;
    
    > * {
      margin-left: 10px;
    }

    .title {
      margin-top: 10px;
    }

    .type {
      font-size: 14px;
      font-style: italic;
    }

    .content {
      margin-top: 20px;

      .photo {
        display: block;
        float: left;
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }
      .message {
        float: right;
        width: 50%;
        margin-bottom: 10px;
      }
    }
  }

}
