// Place all the styles related to the Neighborhood controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

@mixin neighborhood_status_button {
  width: 50px;
  height: 40px;
  border-radius: $button_border_radius;
}

#neighborhood_stats {
  margin-top: 10px;
  font-size: 14px;
  b {
    font-size: 15px;
  }
  .house_count {
    text-align: center;
  }
  .participant_count {
    text-align: center;
  }
}

#neighborhood_view {
  font-size: 18px;
  color: $dark-gray;
  padding: 10px 0px;
  .active {
    color: $blue;
  }
}

ul#neighborhood_participants_list {
  list-style-type: none;
  margin-top: 10px;
  
  li.neighborhood_participant_photo_thumb {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 15px;
    width: 125px;
    height: 125px
  }
}

ul#neighborhood_house_list {
  margin-top: 10px;
  
  li.neighborhood_house_photo_thumb {
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 15px;
    width: 125px;
  }
}

#neighborhood_right_panel {
  h4 {
    color: $dark-gray;
    margin-bottom: 5px;
  }
  #neighborhood_coordinator, #neighborhood_health_agent {
    margin-bottom: 10px;
  }
  .neighborhood_profile_box {
    background: white;
    height: 125px;
    border: 2px solid $gray;
    padding: 10px 0px;
    .neighborhood_pf_picture {
      border: 1px solid $dark-gray;
      margin-top: 10px;
      width: 100px;
    }
    .neighborhood_person_name {
      margin-top: 5px;
      font-size: 13px;
      font-weight: bold;
      padding-bottom: 5px;
      text-shadow: none;
      color: #909090;
      font-style: normal;
      text-decoration: underline;
    }
    .neighborhood_quote {
      width: 110px;
      font-size: 12px;
      font-style: italic;
      text-shadow: 0 1px 1px #828282;
    }
  }
  .neighborhood_sponsor_box {
    background: $light-gray;
    height: 220px;
    padding: 15px 2px 15px 12px;
    ul {
      list-style-type: none;
      
    }
    .sponsor_thumb {
      margin: 0px 10px 10px 0px;
      background: white;
      width: 65px;
      height: 65px;
      border: 1px solid gray;
    }
  }
}

#neighborhood_news {
  margin-top: 20px;
  
  ul {
    li {
      padding: 10px;
      background: white;
      border: 2px solid $gray;
      width: 290px;
      margin-left: 0px;
      margin-right: 10px;
      height: 220px;
    }
  }
  .neighborhood_news_title {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 5px;
    text-shadow: none;
    color: #909090;
    font-style: normal;
    text-decoration: underline;
  }
  .neighborhood_news_thumb {
    border: 1px solid $dark-gray;
    width: 100px;
    height: 100px;
    background: gray;
  }
  .neighborhood_news_content {
    width: 160px;
  }
}

#neighborhood_name {
  margin-left: 5px;
}

#neighborhood_open_report_button {
  @include neighborhood_status_button;
  background-color: $orange;
}
  
#neighborhood_claimed_report_button {
  @include neighborhood_status_button;
  background-color: $blue;
}
  
#neighborhood_resolved_report_button {
  @include neighborhood_status_button;
  background-color: gray;
}

#visit_neighborhood_button {
  width: 205px;
  height: 20px;
  margin-left: 30px;
  border-radius: $button_border_radius;
  background-color:#65665C;
  text-align: center;
  font-size: 18px;
  padding-top:10px;
  padding-bottom:10px;
  	  
	a{
		color:white;
	}
}
  
#visit_neighborhood_button:hover{
	background-color:rgba( 0, 204, 51, 0.6);
}

#rank_box {
  background-color:$light-gray;
  text-align: center;
  padding: 10px 5px 10px 5px;
  width: 80px;
  font-weight: bold;
}
    
.neighborhoods {
  #houses_button, #participants_button, #health_agents_button {
    font-size: 1.2em;
    margin-right: 0.5em;
  }
  ul#houses {
  }
  ul#participants {
    display: none;
  }
  ul#health_agents {
    display: none;
  }

  .member {
    display: inline-block;
    margin-right: 1.6em;
    margin-top: 1.5em;
    .photo {
      display: block;
      width: 120px;
      height: 120px;
      margin-bottom: 6px;
    }
  }
}


#right_section {
  float: right;
  height: auto;
  width: 350px;
}

.featured_agent_section {
  min-height: 130px;
  width: 300px;
  background: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #bcbfa9;

  .agent_photo {
    height: 110px;
    width: 110px;
    background: #808080;
    margin: 10px;
    float: left;
  }
  #h3 {
    float: left;
    margin-top: 10px;
  }
  .agent_description {
    float: left;
    height: auto;
    width: 170px;
    margin-top: 10px;
  }
  .view_profile {
    margin-top: 10px;
    margin-left: 100px;
    float: left;
  }
}

#local_sponsors_section {
  height: 290px;
  width: 280px;
  background: #e2e5cf;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;

}

#bottom_section {
  .news_block {
    background-color: White;
    border-style: solid;
    border-width: 1px;
    border-color: #EDEDED;
    width: 304px;
    display: inline-block;
    
    > * {
      margin-left: 10px;
    }

    .title {
      margin-top: 10px;
    }

    .type {
      font-size: 14px;
      font-style: italic;
    }

    .content {
      margin-top: 20px;

      .photo {
        display: block;
        float: left;
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }
      .message {
        float: right;
        width: 50%;
        margin-bottom: 10px;
      }
    }
  }

}
