// Place all the styles related to the Neighborhood controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";


@mixin neighborhood_status_button {
  margin-bottom: -10px;
  width: 50px;
  height: 40px;
  border-radius: $button_border_radius;
  margin-right: 50px;
}

ul#neighborhood_house_list {
  list-style-type: none;
  li {
    margin-top: 10px;
    
  }
}


#top_section {

}

#middle_section {
  margin-top: 60px;
}

#neighborhood_name {
  margin-left: 5px;
}

#neighborhood_status_bar {
  ul {
    margin-top: 30px;
  }
  li {
    list-style-type: none;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 57px;
  }
  .button_text {
    padding-left: 60px;
  }
  #neighborhood_open_report_button {
    @include neighborhood_status_button;
    background-color: $orange;
  }
  #neighborhood_claimed_report_button {
    @include neighborhood_status_button;
    background-color: $blue;
  }
  #neighborhood_resolved_report_button {
    @include neighborhood_status_button;
    background-color: gray;
  }
  #rank_box {
    background-color:$light-gray;
    padding-top: 20px;
    padding-bottom: 17px;
    padding-right: 10px;
    padding-left:10px;
  }
  #status_text {
    text-align: center;
    margin-bottom: -10px;
  }
}

#left_section {
  float: left;
  width: 650px;
}

.neighborhoods {
  #houses_button, #participants_button, #health_agents_button {
    font-size: 1.2em;
    margin-right: 0.5em;
  }
  ul#houses {
  }
  ul#participants {
    display: none;
  }
  ul#health_agents {
    display: none;
  }

  .member {
    display: inline-block;
    margin-right: 1.6em;
    margin-top: 1.5em;
    .photo {
      display: block;
      width: 120px;
      height: 120px;
      margin-bottom: 6px;
    }
  }
}


#right_section {
  float: right;
  height: auto;
  width: 350px;
}

.featured_agent_section {
  min-height: 130px;
  width: 300px;
  background: #FFFFFF;
  margin-top: 5px;
  margin-bottom: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #bcbfa9;

  .agent_photo {
    height: 110px;
    width: 110px;
    background: #808080;
    margin: 10px;
    float: left;
  }
  #h3 {
    float: left;
    margin-top: 10px;
  }
  .agent_description {
    float: left;
    height: auto;
    width: 170px;
    margin-top: 10px;
  }
  .view_profile {
    margin-top: 10px;
    margin-left: 100px;
    float: left;
  }
}

#local_sponsors_section {
  height: 290px;
  width: 280px;
  background: #e2e5cf;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;

  ul {
    list-style-type: none;
    li {
      list-style-type: none;
      display: inline-block;
      float: left;
      margin: 2.5px;
      img {
        width: 89px;
        height: 89px;
      }
    }
  }
}


#bottom_section {
  .news_block {
    background-color: White;
    border-style: solid;
    border-width: 1px;
    border-color: #EDEDED;
    width: 304px;
    display: inline-block;
    
    > * {
      margin-left: 10px;
    }

    .title {
      margin-top: 10px;
    }

    .type {
      font-size: 14px;
      font-style: italic;
    }

    .content {
      margin-top: 20px;

      .photo {
        display: block;
        float: left;
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
      }
      .message {
        float: right;
        width: 50%;
        margin-bottom: 10px;
      }
    }
  }

}
