// Place all the styles related to the password_resets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.reset_password_form {
  width: $max-width;
  padding-left: 50px;
  
  label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    display: block;
    border-radius: $input_border_radius;
    border: 0px;
    background: $light-orange;
    width: $field_width;
    height: 33px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    
    &[type = "file"] {
      background-color: $background-color;
    }
    
    &[type = "Submit"] {
      border-radius: $button_border_radius;
      width: auto;
      height: auto;
      margin-top: 20px;
      padding: 5px;
      opacity: .8;
      background: $dark-gray;
      color: #FFFFFF;
      text-decoration: none;

       &:hover {
         opacity: 1;
         cursor: pointer;
       }
    }
  }
}
