// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.post_form {
  margin-top: 10px;
  margin-bottom: -20px;
}

#post_title {
  width: 630px;
}

#post_content {
  max-width: 630px;
  width: 630px;
  height: 75px;
}

#post_submit {
  float: right;
  height: 20px;
  border-radius: $button_border_radius;
  color: #ffffff;
  background: $dark-gray;
  vertical-align: middle;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#post_spacer {
  margin-right: -10px;
}

.post_feed {
  height: 75px;
  background: #ffffff;
  margin-top: 15px;
  border-radius: $button_border_radius;
  box-shadow: 0px 1px 2px #333333;
  padding-bottom: 15px;
}

.post_feed_profile_photo {
  position: relative;
  top: -5px;
  left: -5px;
}

.post_feed_title {
  background: #e2e5cf;
  border-top-right-radius: $button_border_radius;
  padding-left: 10px;
  margin-bottom: 5px;
  position: relative;
  top: -1px;
  left: -5px;
}