// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.post_form {
  margin-top: 10px;

}

#post_title {

}

#post_content {

  height: 75px;
}

#post_submit {
  float: right;
  height: 20px;
  border-radius: $button_border_radius;
  color: #ffffff;
  background: $dark-gray;
  vertical-align: middle;
  padding: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

#post_spacer {
  margin-right: -10px;
  height: 10px;
}

.post_feed {
  min-height: 85px;
  background: #ffffff;
  margin-top: 15px;
  padding: 5px;
  font-size: 15px;
  border: 2px solid #8C8C8C;
  border-radius: 3px;
}

.post_feed_profile_photo {
  margin-top: 5px;  
  width: 80px;
}

.post_time_stamp {
  float:right;
  font-size:12px;
  margin-right: 5px;
}

.post_feed_title {
  font-weight: bold;
  h3 {
    font-size: 16px;
  }
}

.house_post_title {
  width: 565px;
  border: 0px;
}

.house_post_text_field {
  max-width: 565px;
  max-height: 50px;
}

form#new_post {
  margin-bottom: 0px;
}