// Place all the styles related to the prizes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

.price_placeholder {
  width: 250px;
  height: 150px;
  background: $layout-gray;
  margin-bottom: 10px;
  border-radius: 5px;
}

#user_info {
  background: #fff;
  span {

  }
}

#user_info #user_info2 {
  padding: 10px;
}

#user_profile_picture {
  display:inline-block;
}

#user_welcome {
  display:inline-block;
  position: relative;
  top: 5px;
}

#user_point_box {
  padding: 25px 30px 25px 30px;
  //margin: 0 auto;
  background: $layout-gray;
  text-align: center;
  border-radius: 10px;
  margin-top: 3px;
  span {
    font-size: 55px;
    font-weight: bold;
    color: $blue;
  }
}

#user_prizes {
  background: white;
  padding: 18px;
  width: inherit;
  height: 200px;
  
  
  span {
    position: relative;
    top: 20px;
    left: 20px;
  }
  h3 {
    font-weight: bold;
  }
}

#prize_search {
  font-family: 'Myriad Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-top: 20px;
  padding: 10px 5px 5px 5px;
  background: $layout_gray;
  h1 {

    font-weight: 600;
    font-size: 24px;
    color: black;
    line-height: 40px;
    display: inline-block;
    padding-left: 10px;
  }
  input {
    display: inline-block;
    float: right;
    margin-top: 4px;
    padding: 4px;
    border: 1px solid #CCC
  }
}

#user_prizes a {
  block: inline;
  background-color: #fff;
}

img.trophy_photo {
  padding: 5px 5px 5px 5px;
}

#prize_search {
  margin-bottom: 10px;
}

.prizes_section {
  padding: 20px;
  background-color: $layout_gray;
  overflow: auto;
  margin-bottom: 30px;
}

.widther {
  margin: 0 auto;
  overflow: auto;
  width: 800px;
}

.widther_2 {
  margin: 0 auto;
  overflow: auto;
  width: 870px;
}

.badges_section {
  padding: 20px;
  background-color: #fff;
  overflow: auto;
  margin-bottom: 30px;
}

.community_prize_section div.sec {
  background-color: #fff;
  padding: 30px;

  h4 {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    min-height: 40px;
  }

  div.cost {
    background-color: #eee;
    width: 150px;
    margin: 0 auto;

    p {
      text-align: center;
    }

    a { 
      display: block;
      color: #F26721;
      font-size: 38px;
      line-height: 50px;
      font-weight: bold;
    }
  }
}

.badges_section div.sec {
  margin-top: 15px;

  h4 {
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    min-height: 40px;
  }

  div.cost {
    background-color: #eee;
    width: 120px;
    margin: 0 auto;
    p {
      text-align: center;
    }

    a { 
      display: block;
      color: #F26721;
      font-size: 38px;
      line-height: 50px;
      font-weight: bold;
    }
  }
}

img.prize_photo {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}


// PRIZES/:ID

#prize_name_and_photo {
  background-color: #fff;
  margin-bottom: 30px;
  //padding: 30px;
}

#prize_name_and_photo .row .span6 div, #prize_name_and_photo .row .span9 div {
  padding: 30px;
}

#prize_info h3 {
  font-family: 'Myriad Pro', Verdana, Helvetica;
  font-size: 30px;
  font-weight: bold;
}

#prize_info p {
  line-height: 2.5em;
}

#prize_instructions_and_cost {
  margin-bottom: 30px;
}

#prize_instructions_and_cost .span9 div {
  /*padding: 30px;*/
}

.current_user {
  background-color: white;
  h5 {
    color: black;
  }
}


#prize_instructions_and_cost .span9 {

  background-color: #fff;
}

#prize_cost #cost_specifically {
  padding: 30px;
  background-color: #F1F1F2;
}

#prize_cost #current_user {
  padding: 30px;
  background-color: white;

}

#prize_cost #use_points {
  /*background-color: #38BFC3;*/
  background-color: #60BB50;
  line-height: 30px;
}

#prize_cost #cant_use_points_sucka {
  line-height: 30px;
  background-color: #DDD;
}

#flash_dat_notice {
  margin-bottom: 30px;
}

#flashNotice {
  background-color: #7AD848;
}

#flashNotice p {
  color: #000;
  font-weight: bold;
  line-height: 20px;
  padding: 20px;
}

#flash_dat_alert {
  margin-bottom: 30px;
}

#flashAlert {
  background-color: #E85646;
}

#flashAlert p {
  color: #fff;
  font-weight: bold;
  line-height: 20px;
  padding: 20px;
}

#prize_cost h6 {
  font-size: 20px;
  text-align: center;
}

#prize_cost #use_points {
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  height: 75px;
  padding-top: 50px;
}

#prize_cost #use_points a {
  font-family: 'Myriad Pro', Verdana, Helvetica;
  font-weight: bold;
  color: #fff;
}

#prize_cost #use_points h6 {
  background-color: #fff;
  line-height: 30px;
}

#prize_cost #cant_use_points_sucka h6 {
  line-height: 30px;
  color: #888;
}

#prize_cost h2 {
  font-size: 30px;
}

#prize_cost h5 {
  color: #60BB50;
  font-size: 30px;
  line-height: 35px;
  font-weight: bold;
}

#prize_instructions {
  margin-bottom: 20px;
}

#prize_instructions h3 {
  font-family: 'Myriad Pro', Verdana, Helvetica;
  font-size: 24px;
  font-weight: bold;
}

#sponsor_area_title_thing {
  background-color: #cacaca;
  margin-bottom: 10px;
}

#sponsor_area_title_thing .span15 div {  
  padding: 10px 0px 10px 30px;
}

#sponsor_area_title_thing .span15 div h3 {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
}

#sponsor_spot {
  background-color: #fff;
  margin-bottom: 30px;
}

#sponsor_spot .span3 div {
  padding: 10px 10px 10px 30px;
}

#sponsor_spot .span7 div {
  padding: 10px 10px 10px 0px;
}

#sponsor_spot .span7 div h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
}

#sponsor_spot .span7 div p {
  font-size: 12px;
  line-height: 18px;
}

#sponsor_spot .span5 div {
  padding: 10px 30px 10px 0px;
}

#input, textarea {
  width: 800px
}

#tu_center_wrapper {
  border-collapse: collapse;
}

.te_frame {
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: gray;
  border: none;
}

div#prize_description {
  background-color: white;
  width: 900px;
  height: 310px;
  margin-left: 50px;
}

div#prize_redemption {
  width: 900px;
  margin-left: 50px;
  margin-top: 30px;
}

div#prize_instructions {
  margin-top: 20px;
}

img.prize_photo_large {
  display: block;
  margin-left: auto;
  margin-right: auto;
  vertical-align: top;
}

div#prize_description_picture {
  padding-top: 30px;
  float: left;
  width: 50%;
}

div#prize_description_text {
  padding-top: 30px;
  float: right;
  width: 50%;

  p {
    padding-top: 15px;
    font-size: 14px;
  }

  h1 {
    font-size: 40px;
    font-weight: bold;
  }
}

div#prize_redemption_directions {
  background-color: white;
  height: 195px;
  padding-top: 30px;
  float: left;
  width: 50%;

  p {
    padding-top: 15px;
    padding-left: 30px;
    font-size: 14px;
  }

  h1 {
    padding-left: 30px;
    font-weight: bold;
    font-size: 30px;
  }
}

div#prize_redeem_points {
  float: right;
  width: 50%;
}

div.prize_cost {
  background-color: #eee;
  width: 400px;
  margin: 0 auto;
  height: 175px;
  border-radius: 10px;

  p {
    padding-top: 55px;
    text-align: center;
  }

  span {
    display: block;
    color: #F26721;
    font-size: 100px;
    line-height: 50px;
    font-weight: bold;
  }
}

div.use_points {
  background-color: #00CCCC;
  width: 400px;
  margin: 0 auto;
  height: 40px;
  margin-top: 10px;

  p {
    text-align: center;
  }

  a {
    display: block;
    color: white;
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
  }
}

div.prizes_list {
  margin-top: 20px;
  margin-bottom: 20px;
}
div.prizes {
  display: inline-block;
}

li.prizes {
  display: inline-block;
  background-color: white;
  border: 1px solid #60BB50;
  width: 250px;
  height: 120px;
  margin: 5px;
  .status {
    height: 24px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    a {
      color: white;
    }
    .name {
      float: left;
    }
    .points {
      float: right;
    }
  }
  .possible {
    background-color: #60BB50;
  }
  .redeemed {
    background-color: #888888;
  }
  .prize_content {
    img.prizes {
      width: 60px;
      height: 60px;
      float: left;
      padding: 5px;
    }
    .description {
      height: 40px;
      overflow: auto;
      margin-top: 5px;
      font-weight: bold;
    }
  }
}

li.prizes.possible {
  border-color: #60BB50;
}

li.prizes.redeemed {
  border-color: #888888;
}

img.prizes {
  width: 200px;
  height: 100px;
}

div.filters {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  a:hover {
    color: #00bbbbb;
  }
}

div.filters.small {
  /*width: 65px;*/
}

div.filters.large {
  /*width: 90px;*/
}

div.filters.space {
  width: 80px;
  height: 10px;
  margin-left: 40px;
  margin-right: 0;
}

div.active {
  font-weight: bolder;
}

#available_prizes_button {
  background-color: #60BB50;
  border-radius: 2px;
  height: 40px;
  width: 50px;
}

div.redeem_button {
  position: absolute;
  margin: 100px 10px 10px 5px;
  a {
    img {
      width: 50px;
    }
  }
}

div.stock {
  margin-top: 10px;
}
div.stock, div.redeem_by {
  
  margin-left: 75px;
}

#how_to {
  float: left;
  position: absolute;
  top: 10px;
  left: 200px;

}

.center {
  text-align: center;
}

.disabled {
  img {
    position: relative;
    top: -84px;
    left: 0px;
    height: 116px;
    width: 258px;  
  }
  
}

div.sponsors {
  float: left;
}