// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

#report_status_bar {
  margin-top: 10px;
}

// OPEN/RESOLVED/CLAIMED PARTIALS
.rp_report_time {
  text-align: right;
  float: right;
}

.expand_button {
  line-height: 30px;
  font-size: 14px;
}

.confirm_prompt {
  margin-top: 5px;
  color: $red;
  height: 25px;  
}

.eliminate_prompt {
  height: auto;
    margin-top: 5px;
  color: black;
}

.confirm_button, input[type='submit'] { 
  border: 2px solid $light-gray;
  color: black;
  font-size: 12px;
  text-align: center;
  padding: 2px 10px;
  border-radius: 8px;
}
  
.eliminate_cancel {
  margin-top: 3px;
  padding: 2p 10px;
  font-size: 12px;
}
  
.rp_report {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  margin-left: 0px;
  
  h4 {
    font-size: 14px;
  }
}

.rp_before_photo, .rp_after_photo {
  margin: 10px 0px 0px 10px;
  width: 100px;
  height: 100px;
}

.rp_report_content {
  margin-top: 10px;
  font-size: 14px;
  font-weight:bold;
}

.rp_report_status {
  margin-top: -10px;
  margin-right: -5px;
  padding-top: 2px;
  padding-left: 5px;
  height: 24px;
  color: #FFFFFF;
  text-align: left;
  font-size: 14px;
}

.rp_report_people {
  margin-left: 0px;
  margin-top: 10px;
  font-size: 14px;
  .user {
    color: blue;
  }
}

#user_report_favorite {
  
}

#user_report_delete {
  
}

.rp_report_options {
  float: right;
}

.rp_claimed_report {
  border-color: $blue;
  
  .status {
    background: $blue;
  }
}

.rp_open_report {
  border-color: $orange;
  
  .status {
    background: $orange;
  }
}

.rp_resolved_report {
  border-color: $dark-gray;
  min-height: 265px;
  
  .status {
    background: $dark-gray;
  }
}


// MAIN REPORTS CSS
.report_map_search {
  background: $light-gray;
  margin-top: 10px;
  margin-left: 10px;
  width: 440px;
  h2 {
    font-size: 20px;
  }
}
#report_map, #report_sponsors {
  margin-top: 5px;
  margin-bottom: 0px;
  background: $light-gray;
  height: 395px;
  margin-left: 20px;
  border: 2px solid gray;
  border-radius: 2px;
  ul {
    padding: 20px 0px 0px 10px;
    li.sponsor {
    display: inline-block;
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    margin: 5px;
  }
  }
  
}

#reports_open {
  margin-top: 10px;
  background: white;
  border: 1px solid $light-gray; 
  padding: 10px 20px;
  margin-left: 20px;
  
  input[type = "text"] {
    width: 520px;
  } 
  
  textarea {
    width: 520px;
  } 
}

#report_buttons {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 12px;

  .reports_feed_button {
    color: $light-gray;
    background-color: #ffffff;
  }

  .bttn  {      
    color: #ffffff;
    border-radius: 2px;
    text-align: center;

    padding: 8px 5px;
    
    &:hover {
      cursor: pointer;
      color: #000000;
    }
    
    &:mousedown {
      border-bottom: thick dotted #ff0000;
    }
  }
  
  .reports_open_button {
    color: $dark-gray;
    background-color: #ffffff;
  }
  
  .make_report_button {
    color: $dark-gray;
    background-color: #ffffff;
  }
  
  .reports_resolved_button {
    color: $dark-gray;
    background-color: #ffffff;
  }

  .reports_feed_button {
    color: $dark-gray;
  }
     
  input{
    height: 30px;
    border: 0px;
    color: gray;
    background-color: #FFFFFF;
    opacity: 1;
    font-size: 13px;
    margin-top: 2px;   
  }
    
  
  
  .active {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
  }
  .reports_feed_button.active {
    background-color: $light-gray;
  }
  
  .reports_open_button.active {
    background-color: $orange;
  }
  
  .make_report_button.active {
    background-color: $light-gray;
  }
  
  .reports_resolved_button.active {
    background-color: gray;
  }
}

#report_stats {
  font-size: 14px;
  margin-top: 10px;
  
  #rank_box {
    background-color:$light-gray;
    text-align: center;
    padding: 10px 5px 10px 5px;
    width: 80px;
  }
  
}

.esriPopup .actionsPane .zoomTo {
    display: none;
}


