// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";

@mixin photo {

  float: left;
  margin: 5px;
  width: 100px;
  height: 100px;
  background-color: $light-gray;
}
// OPEN/RESOLVED/CLAIMED PARTIALS
.rp_report_time {
    text-align: right;
    float: right;
}

.rp_report {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin: 0px 0px 10px 10px;
}
.rp_before_photo, .rp_after_photo {
  margin: 10px 0px 0px 10px;
  width: 100px;
  height: 100px;
}

.rp_report_content {
  margin-top: 10px;

}

.rp_report_status {
  float: right;
    margin-top: 10px;
   padding-top: 5px;
   width: 70px;
   height: 25px;
   color: #FFFFFF;
   text-align: center;
   border-radius: 3px;
 }
.rp_report_people {
  margin-left: 10px;
  margin-top: 10px;
}
#user_report_favorite {
  

}
#user_report_delete {
  
}
.rp_report_options {
  margin-top: -30px;
  float: right;
}

.rp_claimed_report {
  border-color: $blue;
  .status {
    background: $blue;
  }
}
.rp_open_report {
  border-color: $orange;
  .status {
    background: $orange;
  }
}

.rp_resolved_report {
  border-color: $light-gray;
  .status {
    margin-top: 10px;
     padding-top: 5px;
     margin-left: 5px;
     width: 70px;
     height: 25px;
     color: #FFFFFF;
     text-align: center;
     border-radius: 3px;
    background: $light-gray;
  }
}


// MAIN REPORTS CSS
#report_map,#report_sponsors {
  margin-top: 10px;
  margin-bottom: 30px;
  background: gray;
  height: 400px;
  margin-left: 20px;
}

#reports_open {
  height: 374px;
  margin-top: 10px;
  background: white;
  border: 4px solid $light-gray; 
  padding: 10px 20px;
  input, #before_photo, #report_content{
    border: 2px solid $gray;
    width: 520px;
  }
  input[type="submit"] {
    font-size: 14px;
    width: 100px;
    border-radius: $button_border_radius;
    color: #ffffff;
    background: $dark-gray;
    vertical-align: middle;
    padding: 8px;
  }
  h3 {
    font-weight: normal;
    font-style: italic;
  }
}
#report_buttons {
    
  .active {
    font-weight: bold;
  }  
  .reports_feed_button {
      background: $red;
  }
  .reports_open_button {
    background-color: $orange;
  }
  .reports_claimed_button {
    background-color: $blue;
  }
  .reports_resolved_button {
    background-color: gray;
  }   
  input{

    height: 30px;
    border: 0px;
    color: gray;
    background-color: #FFFFFF;
    opacity: 1;
    font-size: 13px;
    margin-top: 2px;   
  }  
  .bttn  {      
    color: black;
    border: 2px solid $gray;
    border-radius: 8px;
    text-align: center;

    font-size: 13px;
    padding: 8px 5px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &:mousedown {
      border-bottom: thick dotted #ff0000;
    }
  }
  
}


#report_stats {
  font-size: 14px;
  margin-top: 10px;
  
  #rank_box {
    background-color:$light-gray;
    text-align: center;
    padding: 10px 5px 10px 5px;
    width: 80px;
  }
  
}
  
  
  













// old below here ~~

.report {
  width: auto;
  height: auto;
  background-color: $background-color;
  margin: 0px 10px 10px 10px;
  border-style: solid;
  border-color: $light-gray;
  border-width: 2px;
  border-radius: 2px;
  color: #000000;
  font-size: 12px;

  .before_photo {
    @include photo;
  }

  .after_photo {
    @include photo;
  }
  
  .report_content {
    float: left;
    margin: 5px;
    width: 145px;
    height: auto;
  }
  
  .bottom_section {
    padding: 5px;
    clear: both;
    width: auto;
    height: 50px;
  }
  
  .status {
     padding-top: 5px;
     margin-top: 20px;
     width: 70px;
     height: 25px;
     float: right;
     color: #FFFFFF;
     text-align: center;
   }
}

.claimed_report {
  .status {
    background: $blue;
  }
}

.open_report {
  .status {
    background: $orange;
  }
}

.resolved_report {
  .status {
    background: $light-gray;
  }
}

