/*====================*/
/*=== Reset Styles ===*/
/*====================*/
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin:2;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
}
body {
	line-height:1;
	color:black;
	background:white;
    text-align: center;
}
table {
	border-collapse:separate;
	border-spacing:0;
}
caption, th, td {
	text-align:left;
	font-weight:normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}
blockquote, q {
	quotes:"" "";
}
*/
/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

/*===================*/
/*=== Main Styles ===*/
/*===================*/
/*
body {
	font:28px/1.6 Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	color:#333;
	background:#eee;
}
*/
a, a:visited {
	color:blue;
	text-decoration:none;
}
a:hover, a:active {
	color:#000;
	text-decoration:none;
}

.theme-default #slider {
    /*margin:5px auto 0 auto;*/
    /*width:618px; Make sure your images are the same size */
    /*height:246px;  Make sure your images are the same size */
    width: 1040px;
    height: 402px;
    z-index: -1;
}

/*
#slider_title{
    position:relative;
    left:-350px;
}
#home_orange_promotion {
    position:relative;
    top:-460px;
    left: 950px;
    z-index: 5;
    opacity:0.5;
    width: 200px;
    background-color: black;

}
#home_orange_promotion #registration {
    opacity: 1.0;
}

#home_orange_promotion2{
    position:relative;
    top:-725px;
    left: 344px;
    z-index: 5;
    opacity:1.0;
}

#backbox{
    opacity:1.0;
    background-color: black;
}
*/
/*====================*/
/*=== Other Styles ===*/
/*====================*/
.clear {
	clear:both;
}