// Place all the styles related to the Sponsors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img.sponsor_logo {
	float: left;
	margin-right: 20px;
}

div.logo_box {
	border: 1px solid #aaaaaa;
	width: 150px;
	height: 90px;
	float: left;
	padding-top: 60px;
	margin-right: 20px;
	text-align: center;
}