// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "variables";


#user_right_panel {
  margin-top: -150px;
  margin-left: 30px;
  height: 1000px;
  background: $light-gray;
}

#user_reports {
  margin-top: 10px;
}

.user_report_time {
  text-align: right;
  margin-left: 50px;
}


.user_report {
  background-color: white;
  border-style: solid;
  border-width: 2px;
  padding: 10px;
  margin: 0px 0px 10px 10px;
}
    
.user_before_photo, .user_after_photo {
  margin: 10px 0px 0px 10px;
  width: 100px;
  height: 100px;
}

.user_report_content {
  margin-top: 10px;
  font-size: 14px;
  font-style: italic;
  text-shadow: 0 1px 1px #828282;
}


.user_report_status {
  margin-top: 10px;
  padding-top: 5px;
  margin-left: 50px;
  width: 70px;
  height: 25px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 3px;
}
    
.user_report_people {
  margin-left: 10px;
  margin-top: 10px;
}
    
#user_report_favorite {
      
}
    
#user_report_delete {
      
}
    
.user_report_options {
  margin-top: -30px;
  float: right;
}
  
.user_claimed_report {
  border-color: $blue;
  .status {
    background: $blue;
  }
}
  
.user_open_report {
  border-color: $orange;
  .status {
    background: $orange;
  }
}
  
.user_resolved_report {
  border-color: $light-gray;
  .status {
    margin-top: 10px;
    padding-top: 5px;
    margin-left: 5px;
    width: 70px;
    height: 25px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 3px;
    background: $light-gray;
  }
}

#user_top_bar {
  z-index: 0;
  list-style-type: none;
  
  #user_top_pictures {
    .user_profile_picture{
      margin-top: 10px;
      display: inline;
      
      img {
        z-index: 1;
        width: 160px;
        height: 160px;
      }
    }
    .user_house_picture, .user_neighborhood_picture{
      margin-right: 11;
      display: inline;
      
      img {
        z-index: 1;
        padding-top: 15px;
        width: 96px;
        height: 96px;
      }
    }
    .user_neighborhood_picture {
    }
  }
  .force_behind {
    z-index: 0;
  }

  #user_top_text {
    z-index: 0;
    position: absolute;
    h3 {
      font-size: 12px;
      line-height: 24px;
    }
    .user_force_position {
      width: 90px;
      margin-left: 242px;
    }
    .user_name {
      margin-left: -28px;
    }
    .user_house, .user_neighborhood {
      width: 100px;
      z-index:1;
    }
    .user_points {
      z-index: 1;
      text-align: center;
      padding-top: 60px;
    }
  }
}

.main_nav_button { 
  text-align: center;
  margin-top: 10px;
  h3 {
    color: #ffffff;
    margin-top: -5px;
  }
}

#user_recent_activity {
  margin-top: 20px;
  .active {
    font-weight: bold;
  }
  #user_activity_list {
    .user_activity_item {
      width: 686px;
      background: white;
      padding: 10px;
      margin-bottom: 10px;
      border: 2px solid #f0f0f0;
      .user_activity_thumb {
        width: 80px;
      }
      .user_activity_options {
        margin-right: 10px;
        text-align: right;
      }
      .user_activity_headline {
      }
      .user_activity_location {
            text-align: right;
      }  
      .user_activity_balloon {
          float: left;  
      }
      .user_activity_icons {
        position: absolute;
        bottom: 5px;
        right: 10px;
      }
    }
  }
}

//OLD BELOW HERE

.user_form {
  width: $max-width;
  padding-left: 50px;
  
  label {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  
  input {
    display: block;
    border-radius: $input_border_radius;
    border: 0px;
    width: $field_width;
    height: 27px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    
    &[type = "file"] {
      background-color: $background-color;
    }
    
    &[type = "Submit"] {
      border-radius: $button_border_radius;
      width: auto;
      height: auto;
      margin-top: 20px;
      padding: 5px;
      opacity: .8;
      background: $dark-gray;
      color: #FFFFFF;
      text-decoration: none;

       &:hover {
         opacity: 1;
         cursor: pointer;
       }
    }
  }
}

.main_column_personal{
	width: 630px;
	height:1000px;
	margin-left: 44px;
	float:left;
	h3 {
		margin-top: 20px;
		color: #888888;
		font-weight: lighter;
		font-size: 15px;
	}
}

.profile_main {
	margin-top: 40px;
	.profile_photo{
		height:150px;
		width:150px;
		display: inline-block;
		vertical-align: text-top;
		border: 1px solid #bbbbbb;
	}
	.personal_profile_info{
		vertical-align: text-top;
		display: inline-block;
		margin-left: 15px;
		width: 450px;

		.name {
			font-size:24px;
			color:#666666;
		}
		.stats {
			text-align: center;
			.subcolumn {
				width: 30%;
				display: inline-block;
				vertical-align: text-top;
				color: #969696;
				margin: 5px;
				.category {
					font-weight: lighter;
					text-shadow: 0px 1px #FFFFFF;
					padding: 5px;
					font-size: 13px;
				}
				.value {
					background-color: #00CDCB;
					color: white;
					padding: 17px 20px;
					font-size: 15px;
					border-radius: 2px;
				}
			}
		}
	}
}

.neighbors_container{
  margin-top:20px;
  height:110px;
  width:330px;
  background-color:#E9ECD6;
  float:left;
}

.neighbors_text{
  font-size:14px;
  margin-left:28px;
  margin-top:10px;
}

.neighbors_all{
  margin-top:10px;
  margin-left:25px;
}

.neighbor_photo{
  height:48px;
  width:42px;
  background-color:gray;
  margin-left:3px;
  float:left;
}

.report_filters_personal{
  width:100%;
  height: 35px;
  margin-top:20px;

  .text{
    font-size:12px;
    color:black;
    text-align:right;
    margin-top:7px;
    margin-right:7px;
    width:auto;
    float:right;
  }
  .number {
    float:left;
    width:30px;
    color:white;
    text-align:right;
    font-size:16px;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
  }
  .stars, .open, .claimed, .resolved, .eliminations {
    width: 117px;
    height: 32px;
    margin-right: 6px;
    float: left;
  }
  .stars {
    background-color: #E9ECD6
  }
  .open {
    background-color: #FB4E1C
  }
  .claimed {
    background-color: $blue;
  }
  .resolved {
    background-color: $light-gray;
  }
  .eliminations {
    background-color: #999999;
    .number {
      width: 20px;
    }
  }
}

.personal_reports_list .report{
  margin-top:5px;
  height:142px;
  width:612px;
  float:left;
/*  background-image:url(/assets/reportbg_l1.png);*/
}


.second_column_personal{
//    width: 320px; had an error in the Dengue.css, but surprisingly that made it look normal
//    height:1000px;
  float:left;

	.map {
		background-image: url(arrows.png);
		width: 300px;
		height: 175px;
		margin-left:0px;
		margin-bottom:10px;
		padding-top: 0px;
		padding-left: 0px;
		background-repeat: no-repeat;
		float:right;
	}
	.report_stats {
		padding: 15px 0;
		width: 300px;
		text-align: center;
		margin: auto;
		vertical-align: text-top;
		.stats {
			display: inline-block;
			margin: 5px;
			width: 95px;
			padding: 7px 17px;
			line-height: 20px;
			text-align: left;
			.value {
				vertical-align: middle;
				font-size: 20px;
				float: left;
			}
			.category {
				vertical-align: middle;
				font-size: 13px;
				margin-left: 10px;
				font-weight: lighter;
			}
		}
		/*nt sure about these values, perhaps use alpha channel? */
		#opened {
			background-color: rgba(254, 209, 161, 1);
		}
		#claimed {
			background-color: rgba(177, 240, 223, 1);
		}
		#eliminated {
			background-color: rgba(223, 224, 207, 1);
		}
		#resolved {
			background-color: rgba(236, 238, 216, 1);
		}
	}
	.recent_reports {
		width: 320px;
		height: auto;
	}
}

.house_link{
  width:298px;
  height:141px;
  border: 1px solid #C4C7B4;
  background-color: white;
}

.prevention_ideas{
  width: 298px;
  height: 483px;
  background-color:#E9ECD6;
  margin-top:10px;
}

.update_background {
  
  .update_width {
    width: 372px;
    @import "ErrorExplaination"
  }

  background-color: $background_orange;
  background-repeat: repeat;
  width: $max-width;
  height: 800px;
}


