= stylesheet_link_tag("application")
= stylesheet_link_tag("prizes")
:css
  body {width: 1000px; background-color: #FDFFE9; height: 600px; padding-top: 30px}

%h1
  - if bought
    Thank you for your purchase! Your Redemption Code is #{@prize_code.code}. Your code will also be emailed to your phone!
  - else
    Prize is either out of stock or you do not have enough points to redeem!