#user_reports
  - for report in @eliminate_feed
    = render :partial => 'reports/resolved', :object => report
  - if @eliminate_feed == []
    .row
      .span8
        %br
        %h2 
          You have not claimed a report yet! Claim one
          %u 
            = link_to 'here', new_report_path
