.rp_report.rp_open_report
  .row
    .span6
      %h4== Report #{open.id}: #{open.complete_address}
    .span2.rp_report_time
      = open.strftime_updated_at 
  .row
    .span2.rp_before_photo 
      =image_tag open.before_photo(:medium)
    .span5
      .row
        .rp_report_content.span5
          %p
            "
            = open.report            
            "
      .row.rp_report_people
        Reporter:
        =link_to open.reporter.username, user_path(open.reporter), :class => "user"
        %br
        =link_to 'Claim this report!', '#'
    .span1.rp_report_status.status
      Open
  .row
    .rp_report_options
      =link_to (image_tag 'icons/reports icon/emptystar.png', :id=>'user_report_favorite'), '#'
      =link_to (image_tag 'icons/reports icon/delete2.png', :id=>'user_report_delete'), '#'










