.rp_report.rp_resolved_report
  .row
    .rp_report_status.status
      Eliminado
      .rp_report_options
        
  .row
    .span8
      %h4== #{resolved.complete_address}
      
  .row
    .span2.rp_before_photo
      =image_tag resolved.before_photo(:medium)
    .span2.rp_after_photo
      =image_tag resolved.after_photo(:medium)
    .span4
      .row
        .rp_report_content.span4
          = resolved.report           
    
      .row.rp_report_people.span5
        %h3 Elimination Type:
        = resolved.elimination_type
        %h3 Elimination Method:
        = resolved.elimination_method
        %br
        %br
        Marcado por:
        =link_to resolved.reporter.username + " - " + resolved.strftime_with(:created_at), user_path(resolved.reporter), :class => "user"
        %br
        Eliminado por:
        =link_to resolved.eliminator.username + " - " + resolved.strftime_with(:eliminated_at), user_path(resolved.eliminator), :class => "user"
        
  .row{ :style => "height: 30px;"}
    




  
