.rp_report.rp_resolved_report
  .row
    .rp_report_status.status
      Eliminado
      .rp_report_options
        -if @current_user != nil && resolved.reporter.id == @current_user.id
          =link_to (image_tag 'icons/reports icon/delete1.png', :id=>'rp_report_delete'), resolved, :confirm => "Are you sure?", :method => :delete
  .row
    .span8
      %h4== #{resolved.complete_address}
      
  .row
    .span2.rp_before_photo
      =image_tag resolved.before_photo(:medium)
    .span2.rp_after_photo
      =image_tag resolved.after_photo(:medium)
    .span4
      .row
        .rp_report_content.span4
          = '"' + resolved.report + '"'           
          
      .row.rp_report_people.span5
        Marcado por:
        %a.user==#{resolved.reporter.username + " - " + resolved.strftime_created_at unless resolved.reporter.nil?}
        %br
        Eliminado por:
        %a.user==#{resolved.eliminator.username + " - " + resolved.strftime_updated_at unless resolved.eliminator.nil?}
    




  
