.main_nav_button
  = link_to "LEARN", new_session_path
  .main_nav_button_sub about dengue
.main_nav_button
  = link_to "PLAY", new_session_path
  .main_nav_button_sub How?
.main_nav_button
  = link_to "WIN", new_session_path
  .main_nav_button_sub What?