.main_nav_button
  = link_to "LEARN", root_path
  .main_nav_button_sub About dengue
.main_nav_button
  = link_to "PLAY", root_path
  .main_nav_button_sub How?
.main_nav_button
  = link_to "WIN", root_path
  .main_nav_button_sub What?